﻿<style type="text/css">
    /*-----------------------------------------------------------------------------------*/
    /*	PAGE TITLE BACKGROUND IMAGE
    /*-----------------------------------------------------------------------------------*/

    #pagetitle {background-image: url('<%= TemplateSourceDirectory %>/StyleSwitcher/<%=GetSetting("PageTitleBackground")%>?v=<%=GetSetting("timestamp")%>');}
    
</style>