﻿/***********************************************/
/***            LEFT POLYGON                 ***/
/***********************************************/
.wsc_postit_audioplayer table.left_polygon
{
    float:left;
    left: 6px;
    position: relative;
    z-index: 10;
}

.wsc_postit_audioplayer table.left_polygon td.main_square
{
    background-color:red; 
    width:40px;
    height:24px;
    border:none;
    border-radius: 7px 0px 0px 7px;
}

.wsc_postit_audioplayer table.left_polygon td.top_right_triangle
{
    border-top: 13px solid transparent; 
    border-left: 8px solid red; 
    height: 0;
    width: 0;
}

.wsc_postit_audioplayer table.left_polygon td.bottom_right_triangle
{
    border-bottom: 13px solid transparent; 
    border-left: 8px solid red; 
    height: 0; 
    width: 0;
}
/***********************************************/
/***            RIGHT POLYGON                ***/
/***********************************************/

.wsc_postit_audioplayer table.right_polygon {
    position: relative;
    z-index: 9;
}

.wsc_postit_audioplayer table.right_polygon td.main_square
{
    background-color:green; 
    width:34px;
    height:24px;
    border:none;
    border-radius: 0px 7px 7px 0px;
}

.wsc_postit_audioplayer table.right_polygon td.top_left_triangle
{
    border-top: 13px solid green; 
    border-left: 8px solid white; 
    height: 0; 
    width: 0;
}

.wsc_postit_audioplayer table.right_polygon td.bottom_left_triangle
{
    border-bottom: 13px solid green; 
    border-left: 8px solid white; 
    height: 0; 
    width: 0;
}

.wsc_postit_audioplayer .audio_player_context 
{
    display:none;
    float:left;
    width:250px;
    height: 24px;
    margin:0;
    padding:0;
    border:none;
}

.wsc_postit_audioplayer .jp-volume-bar 
{
    background:url("1322411298_media-volume-1.png") no-repeat scroll 10px -2px transparent;
    width:40px;
    height:20px;
}

.wsc_postit_audioplayer .audio_player_context .jp-progress {	
	width:237px;
    margin: 2px 0 0 8px;
}

.wsc_postit_audioplayer .audio_player_context .jp-seek-bar 
{
    width:100%;
    height:20px;
    border:1px solid black;
}

.wsc_postit_audioplayer .jp-current-time
{
    display: block;
    left: 429px;
    line-height: 20px;
    position: absolute;
}

.wsc_postit_audioplayer .jp-play-bar
{
    background-color: Silver;
    height: 20px;
}

.wsc_postit_audioplayer .audio_player_context .jp-title
{
    display: block; 
    position: absolute;
    line-height: 20px;
    width: 193px;
}

.wsc_postit_audioplayer .jp_control
{
    display: block;
    overflow: hidden;
    text-indent: -9999px;
}

.wsc_postit_audioplayer  .jp_control.jp-play,
.wsc_postit_audioplayer  .jp_control.jp-play:hover,
.wsc_postit_audioplayer  .jp_control.jp-play:active
{
    background:transparent url(1322411205_media-play.png) no-repeat 3px -5px;
}

.wsc_postit_audioplayer  .jp_control.jp-pause,
.wsc_postit_audioplayer  .jp_control.jp-pause:hover,
.wsc_postit_audioplayer  .jp_control.jp-pause:active
{
    background: url("1325432220_pause.png") no-repeat scroll 7px -3px transparent;
}

.right-content
{
    height: 26px;
    line-height: 26px;
}

.right-content span,
.right-content div
{
    float: left;
    font-style: italic;
    text-indent: 10px;
}

.right-content .jp-duration
{    
    font-weight: bold;
    text-indent: 2px;
}