.transparent {
    filter:alpha(opacity=30); /* IE 5+. */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";/* IE 8. */
    -moz-opacity:0.3; /* old school versions of the Mozilla browsers like Netscape Navigator. */
    -khtml-opacity: 0.3; /* This is for old versions of Safari (1.x) with KHTML rendering engine */
    opacity: 0.3; 
}

/*jquery.sidr.dark*/
.sidr p a{color:rgb(245,245,245);}
.sidr ul li ul li a,.sidr ul li ul li span{color:rgb(245,245,245);}
.sidr input[type="text"],.sidr input[type="password"],.sidr input[type="date"],.sidr input[type="datetime"],
.sidr input[type="email"],.sidr input[type="number"],.sidr input[type="search"],.sidr input[type="tel"],
.sidr input[type="time"],.sidr input[type="url"],.sidr textarea,.sidr select
{
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000,endColorstr=#19000000)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000,endColorstr=#19000000);   /* IE6 & 7 */
    zoom: 1;
    color:rgb(230,230,230);
}
.sidr input[type=button]:hover,.sidr input[type=submit]:hover
{
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5FFFFFF,endColorstr=#E5FFFFFF)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5FFFFFF,endColorstr=#E5FFFFFF);   /* IE6 & 7 */
    zoom: 1;
}


/* background color */
#top-bar 
{
   background: transparent;
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26000000,endColorstr=#26000000)"; /* IE8 */
   filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26000000,endColorstr=#26000000);   /* IE6 & 7 */
   zoom: 1;
}

#top-bar:after 
{
    background: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#336F7B8B,endColorstr=#336F7B8B)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#336F7B8B,endColorstr=#336F7B8B);   /* IE6 & 7 */
      zoom: 1;
}

.go-top
{
        background: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);   /* IE6 & 7 */
      zoom: 1;

}



/* =Browser notification
----------------------------------------------------------------------------- */
.browser-notification {
	border-bottom: 1px solid #a29330;
	background: #fdf2ab url(../img/exclamation.gif) no-repeat 10px center;
	font: 11px/18px Verdana;
	color: #303030;
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
}
.browser-notification p {
	margin: 0;
	padding: 10px 36px 12px;
}
.browser-notification a {
	color: #e25600;
	text-decoration: none;
}
.browser-notification a:hover {
	border-bottom-width: 0;
	color: #e25600;
	text-decoration: underline;
}
.browser-notification .close {
	font-weight: bold;
	cursor: pointer;
	position: absolute;
	right: 14px;
	top: 10px;
}
