﻿/* ======================================================= */
/*                       Base Styles                       */
/* ======================================================= */


/* All Views Common Styles
---------------------------------------------------------- */
.wsc_clear
{
    clear: both;
    height: 0px;
}

.imgLeft
{
    float: left;
    margin: 0px 5px 0px 0px;
}

.wsc_posts_list .wsc_title a,
.wsc_pi_detailed_view .wsc_title
{

}

.wsc_posts_list .wsc_pi_feed_info,
.wsc_pi_detailed_view .wsc_pi_feed_info
{
    color: #777777;
    display: block;
    margin: 5px 0 10px;
    font-style: italic;
}

.wsc_posts_list .wsc_image_frame img,
.wsc_pi_detailed_view .wsc_image_frame img
{
    max-width: 300px;
}

/* Styles of Subscribe on RSS button
---------------------------------------------------------- */
.wsc_postit_subscribe
{
	clear:both;
}

.wsc_postit_subscribe a,
.wsc_postit_subscribe a:hover,
.wsc_postit_subscribe a:link,
.wsc_postit_subscribe a:visited
{
	float:right;
	overflow:hidden;
	border:none;
	background-color:transparent;	
	font-size:0;	
	padding:0;
	margin:0;
}

.wsc_postit_subscribe a img
{
	border:none;
	font-size:0;
	padding:0;
	margin:0;	
	border:none;
}

.wsc_postit_clear
{
	clear:both;
	height:0;
	width:0;
	padding:0;
	margin:0;
	border:none;
}

/* Styles of Post-List View 
---------------------------------------------------------- */

.wsc_post_item 
{
    margin-bottom: 20px;   
}

.wsc_posts_list a.wsc_readmore,
.wsc_posts_list a.wsc_readmore:link
{
    float: right;
}

/* Styles of Full-Post View 
---------------------------------------------------------- */

.wsc_pi_detailed_view .wsc_pi_add_this 
{
    margin: 10px 0px;
}

/* Styles of Feed View
---------------------------------------------------------- */

.wsc_pi_feed_item 
{
    margin-bottom: 10px;
    overflow: hidden;
}

.wsc_pi_feed_content 
{
    overflow: hidden;
}

.wsc_pi_feed_content .wsc_pi_feed_info span 
{
    margin-right: 0px;
}

.wsc_posts_feed .wsc_tags_cloug, 
.wsc_posts_feed .wsc_info_author, 
.wsc_posts_feed .wsc_text_by 
{
    display: none;
}

/* Styles for Tags and Archive Feed View
---------------------------------------------------------- */
.wsc_tags_view li,
.wsc_archive_view li
{
    padding-bottom: 5px;
}
    

/* Styles of Controls 
---------------------------------------------------------- */
.wsc_pi_post_controls 
{
   float: right;
   padding-top: 5px;
}