html {
    font-size: 26px;
}

/* admin form styles */

.wsc_admin_fields *
{
    text-shadow: none;
}

.wsc_admin_fields 
{
    padding: 5px 10px;
    margin: 0px;
}

.wsc_admin_fields li
{
    display: block;
    list-style: none outside none;
    margin: 0 0 10px;
}

.wsc_admin_fields .wsc_label
{
    color: #282828;
    /*cursor: pointer;*/
    font-size: 12px;
    margin: 0;
    padding: 0px 0px 0px 0;
}
.wsc_admin_fields label,
.wsc_admin_fields span {
    color: #282828;
}

.wsc_admin_fields .required {
    color: red;
}

.wsc_admin_fields .wsc_tooltip_label
{
    color: #BFBFBF;
    font-size: 10px;
}

.wsc_admin_fields .wsc_textbox
{
    color: #282828;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    margin: 4px 0 0;    
    width: 70%;
    display: block;
}