﻿<link href="http://fonts.googleapis.com/css?family=Open+Sans:800" rel="stylesheet" property="stylesheet" type="text/css" media="all">
<link rel="stylesheet" type="text/css" href="/dnn9_1/DesktopModules/WebSitesCreative.SliderRevolutionImporter/assets/rs-lib/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
<link rel="stylesheet" type="text/css" href="/dnn9_1/DesktopModules/WebSitesCreative.SliderRevolutionImporter/assets/rs-lib/fonts/font-awesome/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="/dnn9_1/DesktopModules/WebSitesCreative.SliderRevolutionImporter/assets/rs-lib/css/settings.css">
<style></style>
<style type="text/css">
    #rev_slider_188_1_wrapper .tp-loader.spinner2 {
        background-color: #000000 !important;
    }
</style>
<style type="text/css">
    .tp-gradientbg {
        background: -moz-radial-gradient(center,ellipse cover,rgba(255,206,0,0) 0%,rgba(255,206,0,0) 40%,rgba(255,206,0,0.35) 75%,rgba(229,141,0,0.5) 100%);
        background: -webkit-radial-gradient(center,ellipse cover,rgba(255,206,0,0) 0%,rgba(255,206,0,0) 40%,rgba(255,206,0,0.35) 75%,rgba(229,141,0,0.5) 100%);
        background: radial-gradient(ellipse at center,rgba(255,206,0,0) 0%,rgba(255,206,0,0) 40%,rgba(255,206,0,0.35) 75%,rgba(229,141,0,0.5) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffce00',endColorstr='#80e58d00',GradientType=1 );
    }
</style>



<div id="rev_slider_188_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="focus-parallax" data-source="gallery" style="background-color:transparent;padding:0px;">
    <!-- START REVOLUTION SLIDER 5.3.1.6 fullscreen mode -->
    <div id="rev_slider_188_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.3.1.6">
        <ul>
            <!-- SLIDE  -->
            <!-- SLIDE  -->
            <!-- SLIDE  -->

            <li data-index="rs-617" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Focus" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/dummy.png" style='background-color:#ffce00' alt="" data-lazyload="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/transparent.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina="">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-617-layer-7" data-x="['left','left','left','left']" data-hoffset="['763','708','480','291']" data-y="['top','top','top','top']" data-voffset="['634','620','668','395']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"from":"x:-200px;rZ:-45deg;opacity:0;","speed":2000,"to":"o:1;","delay":950,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;">
                    <div class="rs-looped rs-wave" data-speed="6" data-angle="0" data-radius="2px" data-origin="50% 50%"><img src="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/dummy.png" alt="" data-ww="['600px','600px','450px','300px']" data-hh="['250px','250px','188px','125px']" data-lazyload="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/relative_pencil3.png" data-no-retina=""> </div>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-617-layer-9" data-x="['left','left','left','left']" data-hoffset="['-6','-26','-26','-56']" data-y="['top','top','top','top']" data-voffset="['389','389','389','338']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"from":"x:200px;rZ:45deg;opacity:0;","speed":2000,"to":"o:1;","delay":800,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6;">
                    <div class="rs-looped rs-wave" data-speed="7" data-angle="0" data-radius="3px" data-origin="50% 50%"><img src="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/dummy.png" alt="" data-ww="['400px','400px','300','200px']" data-hh="['500px','500px','375','250px']" data-lazyload="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/relative_glasses.png" data-no-retina=""> </div>
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-1" id="slide-617-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['20','20','20','20']" data-width="['480','480','400','250']" data-height="['560','460','460','400']" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-frames='[{"from":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Back.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7;background-color:rgba(0, 0, 0, 0);border-color:rgba(255, 255, 255, 0.35);border-style:solid;border-width:30px;filter:blur(5px);-webkit-filter:blur(5px);-moz-filter:blur(5px);-o-filter:blur(5px);-ms-filter:blur(5px);"> </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption   tp-resizeme rs-parallaxlevel-3" id="slide-617-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-200','-180','-90','-90']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":800,"to":"o:1;","delay":650,"ease":"Back.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8;"><img src="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/dummy.png" alt="" data-ww="['600px','500','500px','400']" data-hh="['1000px','833','833px','667']" data-lazyload="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/guy_transparent.png" data-no-retina=""> </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-4" id="slide-617-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['20','25','25','25']" data-width="['780','700','640','400']" data-height="['800','680','680','600']" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-frames='[{"from":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","speed":1000,"to":"o:1;","delay":1100,"ease":"Back.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9;background-color:rgba(0, 0, 0, 0);border-color:rgba(255, 255, 255, 0.35);border-style:solid;border-width:30px;"> </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption   tp-resizeme rs-parallaxlevel-8" id="slide-617-layer-4" data-x="['left','left','left','left']" data-hoffset="['516','432','302','182']" data-y="['top','top','top','top']" data-voffset="['37','37','174','136']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:300px;rZ:45deg;opacity:0;","speed":2000,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 10;">
                    <div class="rs-looped rs-wave" data-speed="5" data-angle="0" data-radius="6px" data-origin="50% 50%"><img src="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/dummy.png" alt="" data-ww="['400px','400px','300px','200px']" data-hh="['400px','400px','300px','200px']" data-lazyload="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/relative_ball.png" data-no-retina=""> </div>
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption   tp-resizeme rs-parallaxlevel-7" id="slide-617-layer-5" data-x="['left','left','left','left']" data-hoffset="['832','707','567','300']" data-y="['top','top','top','top']" data-voffset="['-22','33','107','5']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:300px;rZ:35deg;opacity:0;","speed":2000,"to":"o:1;","delay":1250,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 11;">
                    <div class="rs-looped rs-wave" data-speed="5" data-angle="0" data-radius="4px" data-origin="50% 50%"><img src="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/dummy.png" alt="" data-ww="['684px','684px','450px','300px']" data-hh="['404px','404px','266px','177px']" data-lazyload="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/relative_pencil1.png" data-no-retina=""> </div>
                </div>

                <!-- LAYER NR. 8 -->
                <div class="tp-caption   tp-resizeme rs-parallaxlevel-3" id="slide-617-layer-6" data-x="['left','left','left','left']" data-hoffset="['1001','831','658','379']" data-y="['top','top','top','top']" data-voffset="['357','379','360','220']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:300px;rZ:90deg;opacity:0;","speed":2000,"to":"o:1;","delay":650,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 12;">
                    <div class="rs-looped rs-wave" data-speed="3" data-angle="0" data-radius="3px" data-origin="50% 50%"><img src="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/dummy.png" alt="" data-ww="['250px','250px','180px','120px']" data-hh="['300px','300px','216px','144px']" data-lazyload="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/relative_eraser2.png" data-no-retina=""> </div>
                </div>

                <!-- LAYER NR. 9 -->
                <div class="tp-caption   tp-resizeme rs-parallaxlevel-3" id="slide-617-layer-8" data-x="['left','left','left','left']" data-hoffset="['1','-6','-11','-1']" data-y="['top','top','top','top']" data-voffset="['311','276','321','283']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:300px;rZ:-45deg;opacity:0;","speed":2000,"to":"o:1;","delay":650,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 13;"><img src="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/dummy.png" alt="" data-ww="['150px','150px','120px','80px']" data-hh="['170px','170px','136px','91px']" data-lazyload="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/relative_pencil2.png" data-no-retina=""> </div>

                <!-- LAYER NR. 10 -->
                <div class="tp-caption   tp-resizeme rs-parallaxlevel-8" id="slide-617-layer-10" data-x="['left','left','left','left']" data-hoffset="['13','-30','-33','-21']" data-y="['top','top','top','top']" data-voffset="['106','73','138','109']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:300px;rZ:90deg;opacity:0;","speed":2000,"to":"o:1;","delay":1350,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 14;">
                    <div class="rs-looped rs-wave" data-speed="4" data-angle="0" data-radius="5px" data-origin="50% 50%"><img src="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/dummy.png" alt="" data-ww="['340px','340px','250px','150px']" data-hh="['180px','180px','132px','79px']" data-lazyload="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/relative_eraser1.png" data-no-retina=""> </div>
                </div>

                <!-- LAYER NR. 11 -->
                <div class="tp-caption   tp-resizeme rs-parallaxlevel-9" id="slide-617-layer-11" data-x="['left','left','left','left']" data-hoffset="['-219','-236','-99','-86']" data-y="['top','top','top','top']" data-voffset="['494','414','630','501']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:300px;rZ:-45deg;opacity:0;","speed":2000,"to":"o:1;","delay":1450,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 15;">
                    <div class="rs-looped rs-wave" data-speed="6" data-angle="0" data-radius="7px" data-origin="50% 50%"><img src="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/dummy.png" alt="" data-ww="['400px','400px','300px','200px']" data-hh="['500px','500px','375px','250px']" data-lazyload="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/relative_triangle.png" data-no-retina=""> </div>
                </div>

                <!-- LAYER NR. 12 -->
                <div class="tp-caption tp-shape tp-shapewrapper   tp-gradientbg" id="slide-617-layer-15" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:0.75;","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 16;background-color:rgba(0, 0, 0, 0);"> </div>

                <!-- LAYER NR. 13 -->
                <div class="tp-caption   tp-resizeme rs-parallaxlevel-7" id="slide-617-layer-12" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['90','90','90','90']" data-fontsize="['120','100','100','60']" data-lineheight="['100','80','80','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":1550,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 17; white-space: nowrap; font-size: 120px; line-height: 100px; font-weight: 800; color: rgba(255, 255, 255, 1.00);font-family:Open Sans;letter-spacing:-7px;">
                    FOCUS<br>
                    IS RELATIVE
                </div>

                <!-- LAYER NR. 14 -->
                <div class="tp-caption   tp-resizeme rs-parallaxlevel-6" id="slide-617-layer-13" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['257','222','222','181']" data-fontsize="['40','30','30','30']" data-lineheight="['35','25','25','25']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":1650,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 18; white-space: nowrap; font-size: 40px; line-height: 35px; font-weight: 800; color: rgba(255, 255, 255, 0.50);font-family:Open Sans;letter-spacing:-2px;">
                    CHANGE YOUR<br>
                    PERSPECTIVE
                </div>

                <!-- LAYER NR. 15 -->
                <div class="tp-caption   tp-resizeme tp-svg-layer rs-parallaxlevel-5" id="slide-617-layer-14" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['340','299','299','249']" data-width="100" data-height="100" data-whitespace="nowrap" data-type="svg" data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]' data-svg_src="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/ic_expand_more_24px.svg" data-svg_idle="sc:transparent;sw:0;sda:0;sdo:0;" data-svg_hover="sc:transparent;sw:0;sda:0;sdo:0;" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;sX:1.4;sY:1.4;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 19; min-width: 100px; max-width: 100px; max-width: 100px; max-width: 100px; color: rgba(255, 255, 255, 1.00);cursor:pointer;">
                    <div class="rs-looped rs-slideloop" data-easing="Power1.easeInOut" data-speed="1" data-xs="0" data-xe="0" data-ys="-5" data-ye="5"> </div>
                </div>
            </li>
            <li data-index="rs-619" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Power" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/dummy.png" alt="" data-lazyload="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/desk_bg.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina="">
                <!-- LAYERS -->
                <!-- LAYER NR. 30 -->
                <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-1" id="slide-619-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['20','20','20','20']" data-width="['480','480','400','250']" data-height="['560','460','460','400']" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-frames='[{"from":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Back.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 34;background-color:rgba(0, 0, 0, 0);border-color:rgba(0, 0, 0, 0.15);border-style:solid;border-width:30px;filter:blur(5px);-webkit-filter:blur(5px);-moz-filter:blur(5px);-o-filter:blur(5px);-ms-filter:blur(5px);"> </div>

                <!-- LAYER NR. 31 -->
                <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-3" id="slide-619-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['21','25','25','25']" data-width="['780','700','640','400']" data-height="['800','680','680','600']" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-frames='[{"from":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","speed":1000,"to":"o:1;","delay":600,"ease":"Back.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 35;background-color:rgba(0, 0, 0, 0);border-color:rgba(0, 0, 0, 1.00);border-style:solid;border-width:30px;"> </div>

                <!-- LAYER NR. 32 -->
                <div class="tp-caption   tp-resizeme rs-parallaxlevel-7" id="slide-619-layer-12" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-80','-50','-80','-50']" data-fontsize="['100','80','60','50']" data-lineheight="['90','70','50','40']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 36; white-space: nowrap; font-size: 100px; line-height: 90px; font-weight: 800; color: rgba(0, 0, 0, 1.00);font-family:Open Sans;letter-spacing:-7px;">
                    SLIDER<br>REVOLUTION<br>
                    POWER
                </div>

                <!-- LAYER NR. 33 -->
                <div class="tp-caption   tp-resizeme rs-parallaxlevel-6" id="slide-619-layer-13" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['109','103','45','61']" data-fontsize="['40','30','30','30']" data-lineheight="['35','25','25','25']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":800,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 37; white-space: nowrap; font-size: 40px; line-height: 35px; font-weight: 800; color: rgba(0, 0, 0, 1.00);font-family:Open Sans;letter-spacing:-2px;">GET STARTED<br>TODAY </div>

                <!-- LAYER NR. 34 -->
                <div class="tp-caption rev-btn  tp-resizeme rs-parallaxlevel-5" id="slide-619-layer-15" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['197','182','124','140']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":"","speed":"300","ease":"Linear.easeNone"}]' data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":900,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[50,50,50,50]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[50,50,50,50]" style="z-index: 38; white-space: nowrap; font-size: 18px; line-height: 50px; font-weight: 800; color: rgba(255, 255, 255, 1.00);font-family:Open Sans;background-color:rgba(0, 0, 0, 1.00);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">SEE ALL EXAMPLES </div>

                <!-- LAYER NR. 35 -->
                <div class="tp-caption   tp-resizeme tp-svg-layer rs-parallaxlevel-4" id="slide-619-layer-14" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['286','271','213','229']" data-width="100" data-height="100" data-whitespace="nowrap" data-type="svg" data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":"","speed":"300","ease":"Linear.easeNone"}]' data-svg_src="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/ic_expand_more_24px.svg" data-svg_idle="sc:transparent;sw:0;sda:0;sdo:0;" data-svg_hover="sc:transparent;sw:0;sda:0;sdo:0;" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;sX:1.4;sY:1.4;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 39; min-width: 100px; max-width: 100px; max-width: 100px; max-width: 100px; color: rgba(0, 0, 0, 1.00);cursor:pointer;">
                    <div class="rs-looped rs-slideloop" data-easing="Power1.easeInOut" data-speed="1" data-xs="0" data-xe="0" data-ys="-5" data-ye="5"> </div>
                </div>
            </li>
            <li data-index="rs-618" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Perspective" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/dummy.png" style='background-color:#cccccc' alt="" data-lazyload="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/transparent.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina="">
                <!-- LAYERS -->
                <!-- LAYER NR. 16 -->
                <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-618-layer-7" data-x="['left','left','left','left']" data-hoffset="['763','708','480','291']" data-y="['top','top','top','top']" data-voffset="['634','620','668','395']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"from":"x:-200px;rZ:-45deg;opacity:0;","speed":2000,"to":"o:1;","delay":950,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 20;">
                    <div class="rs-looped rs-wave" data-speed="6" data-angle="0" data-radius="2px" data-origin="50% 50%"><img src="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/dummy.png" alt="" data-ww="['600px','600px','450px','300px']" data-hh="['250px','250px','188px','125px']" data-lazyload="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/relative_pencil3.png" data-no-retina=""> </div>
                </div>

                <!-- LAYER NR. 17 -->
                <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-618-layer-9" data-x="['left','left','left','left']" data-hoffset="['-6','-26','-26','-56']" data-y="['top','top','top','top']" data-voffset="['389','389','389','338']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"from":"x:200px;rZ:45deg;opacity:0;","speed":2000,"to":"o:1;","delay":800,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 21;">
                    <div class="rs-looped rs-wave" data-speed="7" data-angle="0" data-radius="3px" data-origin="50% 50%"><img src="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/dummy.png" alt="" data-ww="['400px','400px','300','200px']" data-hh="['500px','500px','375','250px']" data-lazyload="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/relative_glasses.png" data-no-retina=""> </div>
                </div>

                <!-- LAYER NR. 18 -->
                <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-1" id="slide-618-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['20','20','20','20']" data-width="['480','480','400','250']" data-height="['560','460','460','400']" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-frames='[{"from":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Back.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 22;background-color:rgba(0, 0, 0, 0);border-color:rgba(255, 255, 255, 0.35);border-style:solid;border-width:30px;filter:blur(5px);-webkit-filter:blur(5px);-moz-filter:blur(5px);-o-filter:blur(5px);-ms-filter:blur(5px);"> </div>

                <!-- LAYER NR. 19 -->
                <div class="tp-caption   tp-resizeme rs-parallaxlevel-3" id="slide-618-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-200','-140','-30','-10']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":800,"to":"o:1;","delay":650,"ease":"Back.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 23;"><img src="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/dummy.png" alt="" data-ww="['1000','800','700px','600px']" data-hh="['1000','800','700px','600px']" data-lazyload="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/girl_transparent.png" data-no-retina=""> </div>

                <!-- LAYER NR. 20 -->
                <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-4" id="slide-618-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['20','25','25','25']" data-width="['780','700','640','400']" data-height="['800','680','680','600']" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-frames='[{"from":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","speed":1000,"to":"o:1;","delay":1100,"ease":"Back.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 24;background-color:rgba(0, 0, 0, 0);border-color:rgba(255, 255, 255, 0.35);border-style:solid;border-width:30px;"> </div>

                <!-- LAYER NR. 21 -->
                <div class="tp-caption   tp-resizeme rs-parallaxlevel-8" id="slide-618-layer-4" data-x="['left','left','left','left']" data-hoffset="['543','432','302','182']" data-y="['top','top','top','top']" data-voffset="['31','37','174','136']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:300px;rZ:45deg;opacity:0;","speed":2000,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 25;">
                    <div class="rs-looped rs-wave" data-speed="5" data-angle="0" data-radius="6px" data-origin="50% 50%"><img src="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/dummy.png" alt="" data-ww="['400px','400px','300px','200px']" data-hh="['400px','400px','300px','200px']" data-lazyload="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/relative_ball_grey.png" data-no-retina=""> </div>
                </div>

                <!-- LAYER NR. 22 -->
                <div class="tp-caption   tp-resizeme rs-parallaxlevel-7" id="slide-618-layer-5" data-x="['left','left','left','left']" data-hoffset="['832','707','567','300']" data-y="['top','top','top','top']" data-voffset="['-22','33','107','5']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:300px;rZ:35deg;opacity:0;","speed":2000,"to":"o:1;","delay":1250,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 26;">
                    <div class="rs-looped rs-wave" data-speed="5" data-angle="0" data-radius="4px" data-origin="50% 50%"><img src="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/dummy.png" alt="" data-ww="['684px','684px','450px','300px']" data-hh="['404px','404px','266px','177px']" data-lazyload="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/relative_pencil1.png" data-no-retina=""> </div>
                </div>

                <!-- LAYER NR. 23 -->
                <div class="tp-caption   tp-resizeme rs-parallaxlevel-3" id="slide-618-layer-6" data-x="['left','left','left','left']" data-hoffset="['1001','831','658','379']" data-y="['top','top','top','top']" data-voffset="['357','379','360','220']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:300px;rZ:90deg;opacity:0;","speed":2000,"to":"o:1;","delay":650,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 27;">
                    <div class="rs-looped rs-wave" data-speed="3" data-angle="0" data-radius="3px" data-origin="50% 50%"><img src="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/dummy.png" alt="" data-ww="['250px','250px','180px','120px']" data-hh="['300px','300px','216px','144px']" data-lazyload="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/relative_eraser2.png" data-no-retina=""> </div>
                </div>

                <!-- LAYER NR. 24 -->
                <div class="tp-caption   tp-resizeme rs-parallaxlevel-3" id="slide-618-layer-8" data-x="['left','left','left','left']" data-hoffset="['1','-6','-11','-1']" data-y="['top','top','top','top']" data-voffset="['311','276','321','283']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:300px;rZ:-45deg;opacity:0;","speed":2000,"to":"o:1;","delay":650,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 28;"><img src="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/dummy.png" alt="" data-ww="['150px','150px','120px','80px']" data-hh="['170px','170px','136px','91px']" data-lazyload="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/relative_pencil2.png" data-no-retina=""> </div>

                <!-- LAYER NR. 25 -->
                <div class="tp-caption   tp-resizeme rs-parallaxlevel-8" id="slide-618-layer-10" data-x="['left','left','left','left']" data-hoffset="['13','-30','-33','-21']" data-y="['top','top','top','top']" data-voffset="['106','73','138','109']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:300px;rZ:90deg;opacity:0;","speed":2000,"to":"o:1;","delay":1350,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 29;">
                    <div class="rs-looped rs-wave" data-speed="4" data-angle="0" data-radius="5px" data-origin="50% 50%"><img src="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/dummy.png" alt="" data-ww="['340px','340px','250px','150px']" data-hh="['180px','180px','132px','79px']" data-lazyload="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/relative_eraser1.png" data-no-retina=""> </div>
                </div>

                <!-- LAYER NR. 26 -->
                <div class="tp-caption   tp-resizeme rs-parallaxlevel-9" id="slide-618-layer-11" data-x="['left','left','left','left']" data-hoffset="['-219','-236','-99','-86']" data-y="['top','top','top','top']" data-voffset="['494','414','630','501']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:300px;rZ:-45deg;opacity:0;","speed":2000,"to":"o:1;","delay":1450,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 30;">
                    <div class="rs-looped rs-wave" data-speed="6" data-angle="0" data-radius="7px" data-origin="50% 50%"><img src="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/dummy.png" alt="" data-ww="['400px','400px','300px','200px']" data-hh="['500px','500px','375px','250px']" data-lazyload="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/relative_triangle.png" data-no-retina=""> </div>
                </div>

                <!-- LAYER NR. 27 -->
                <div class="tp-caption   tp-resizeme rs-parallaxlevel-7" id="slide-618-layer-12" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['90','90','90','90']" data-fontsize="['120','100','100','60']" data-lineheight="['100','80','80','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":1550,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 31; white-space: nowrap; font-size: 120px; line-height: 100px; font-weight: 800; color: rgba(255, 255, 255, 1.00);font-family:Open Sans;letter-spacing:-7px;">
                    OHHH<br>
                    YEAH!
                </div>

                <!-- LAYER NR. 28 -->
                <div class="tp-caption   tp-resizeme rs-parallaxlevel-6" id="slide-618-layer-13" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['257','222','222','181']" data-fontsize="['40','30','30','30']" data-lineheight="['35','25','25','25']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":1650,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"}]' data-textalign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 32; white-space: nowrap; font-size: 40px; line-height: 35px; font-weight: 800; color: rgba(255, 255, 255, 0.50);font-family:Open Sans;letter-spacing:-2px;">LOVE THIS<br>SLIDER? </div>

                <!-- LAYER NR. 29 -->
                <div class="tp-caption   tp-resizeme tp-svg-layer rs-parallaxlevel-5" id="slide-618-layer-14" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['340','299','299','249']" data-width="100" data-height="100" data-whitespace="nowrap" data-type="svg" data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]' data-svg_src="/dnn9_1/Portals/0/WebSitesCreative_SliderRevolutionImporter/Images/394/ic_expand_more_24px.svg" data-svg_idle="sc:transparent;sw:0;sda:0;sdo:0;" data-svg_hover="sc:transparent;sw:0;sda:0;sdo:0;" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"auto:auto;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;sX:1.4;sY:1.4;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 33; min-width: 100px; max-width: 100px; max-width: 100px; max-width: 100px; color: rgba(255, 255, 255, 1.00);cursor:pointer;">
                    <div class="rs-looped rs-slideloop" data-easing="Power1.easeInOut" data-speed="1" data-xs="0" data-xe="0" data-ys="-5" data-ye="5"> </div>
                </div>
            </li>
        </ul>
        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
    </div>
</div><!-- END REVOLUTION SLIDER -->
<script type="text/javascript">
						var tpj=jQuery1124;

			var revapi188;
			tpj(document).ready(function() {
				if(tpj("#rev_slider_188_1").revolution == undefined){
					revslider_showDoubleJqueryError("#rev_slider_188_1");
				}else{
					revapi188 = tpj("#rev_slider_188_1").show().revolution({
						sliderType:"standard",
jsFileLocation:"/dnn9_1/DesktopModules/WebSitesCreative.SliderRevolutionImporter/assets/rs-lib/js/",
						sliderLayout:"fullscreen",
						dottedOverlay:"none",
						delay:9000,
						navigation: {
							keyboardNavigation:"off",
							keyboard_direction: "horizontal",
							mouseScrollNavigation:"off",
                             mouseScrollReverse:"default",
							onHoverStop:"off",
							touch:{
								touchenabled:"on",
								swipe_threshold: 75,
								swipe_min_touches: 1,
								swipe_direction: "horizontal",
								drag_block_vertical: false
							}
						},
						responsiveLevels:[1240,1024,778,480],
						visibilityLevels:[1240,1024,778,480],
						gridwidth:[1240,1024,778,480],
						gridheight:[900,768,960,720],
						lazyType:"single",
						parallax: {
							type:"mouse",
							origo:"slidercenter",
							speed:300,
							levels:[2,4,6,8,10,12,14,16,18,20,22,24,49,50,51,55],
						},
						shadow:0,
						spinner:"spinner2",
						stopLoop:"on",
						stopAfterLoops:0,
						stopAtSlide:1,
						shuffle:"off",
						autoHeight:"off",
						fullScreenAutoWidth:"off",
						fullScreenAlignForce:"off",
						fullScreenOffsetContainer: "#header",
						fullScreenOffset: "",
						disableProgressBar:"on",
						hideThumbsOnMobile:"off",
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						debugMode:false,
						fallbacks: {
							simplifyAll:"off",
							nextSlideOnWindowFocus:"off",
							disableFocusListener:false,
						}
					});
				}
			});	/*ready*/
</script>


