/* bottom center */
.wowslider-container.mellow .ws_bullets
{
    top: 6px;
    right: 6px;
}
.wowslider-container.mellow
{
    zoom: 1;
    position: relative;
    margin: 0 auto;
    z-index: 100;
}
.wowslider-container.mellow .ws_images
{
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}
.wowslider-container.mellow .ws_images a
{
    color: transparent;
}
.wowslider-container.mellow .ws_images img
{
    top: 0;
    left: 0;
    border: none 0;
}
.wowslider-container.mellow a
{
    text-decoration: none;
    outline: none;
    border: none;
}
.wowslider-container.mellow .ws_bullets
{
    font-size: 0px;
    padding: 10px;
    float: left;
    position: absolute;
    z-index: 70;
}
.wowslider-container.mellow .ws_bullets div
{
    position: relative;
    float: left;
}
.wowslider-container.mellow .ws_bullets a
{
    width: 22px;
    height: 22px;
    background: url(./bullet.png) left top;
    float: left;
    text-indent: -1000px;
    position: relative;
}
.wowslider-container.mellow .ws_bullets a.ws_selbull, .wowslider-container.mellow .ws_bullets a:hover
{
    background-position: 0 100%;
}
.wowslider-container.mellow a.ws_next, .wowslider-container.mellow a.ws_prev
{
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -15px;
    z-index: 60;
    height: 38px;
    width: 38px;
    background-image: url(./arrows.png);
}
.wowslider-container.mellow a.ws_next
{
    background-position: 100% 0;
    right: 10px;
}
.wowslider-container.mellow a.ws_prev
{
    left: 10px;
    background-position: 0 0;
}
* html .wowslider-container.mellow a.ws_next, * html .wowslider-container.mellow a.ws_prev
{
    display: block;
}
.wowslider-container.mellow :hover a.ws_next, .wowslider-container.mellow :hover a.ws_prev
{
    display: block;
}
.wowslider-container.mellow .ws-title
{
    position: absolute;
    display: block;
    bottom: 17px;
    left: 0px;
    margin: 3px 3px 3px 17px;
    padding: 10px;
    background-color: white;
    color: black;
    z-index: 50;
    border-radius: 8px;
    box-shadow: 0 0 3px #000;
    font-family: Tahoma,Arial,Helvetica;
    font-size: 14px;
    opacity: 0.5;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.wowslider-container.mellow .ws-title div
{
    padding-top: 5px;
    font-size: 12px;
}
.wowslider-container.mellow .ws_bullets a img
{
    text-indent: 0;
    display: block;
    top: 20px;
    left: -120px;
    visibility: hidden;
    position: absolute;
    -moz-box-shadow: 0 0 5px #FFF;
    box-shadow: 0 0 5px #FFF;
    border: 2px solid #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
}
.wowslider-container.mellow .ws_bullets a:hover img
{
    visibility: visible;
}
.wowslider-container.mellow .ws_bulframe div div
{
    overflow: visible;
    position: relative;
}
.wowslider-container.mellow .ws_bulframe div
{
    left: 0;
    overflow: hidden;
    position: relative;
}
.wowslider-container.mellow .ws_bullets .ws_bulframe
{
    display: none;
    top: 25px;
    overflow: visible;
    position: absolute;
    cursor: pointer;
    -moz-box-shadow: 0 0 5px #FFF;
    box-shadow: 0 0 5px #FFF;
    border: 2px solid #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
}
.wowslider-container.mellow .ws_bulframe span
{
    display: block;
    position: absolute;
    top: -8px;
    margin-left: 1px;
    background: url(./triangle.png);
    width: 15px;
    height: 6px;
}