/* bottom center */
.wowslider-container.block .ws_bullets
{
    top: 0;
    right: 0;
}
.wowslider-container.block
{
    zoom: 1;
    position: relative;
    margin: 0 auto;
    z-index: 100;
}
.wowslider-container.block .ws_images
{
    overflow: hidden;
    position: relative;
}
.wowslider-container.block .ws_images a
{
    color: transparent;
}
.wowslider-container.block .ws_images img
{
    top: 0;
    left: 0;
    border: none 0;
}
.wowslider-container.block a
{
    text-decoration: none;
    outline: none;
    border: none;
}
.wowslider-container.block .ws_bullets
{
    font-size: 0px;
    padding: 10px;
    float: left;
    position: absolute;
    z-index: 70;
}
.wowslider-container.block .ws_bullets div
{
    position: relative;
    float: left;
}
.wowslider-container.block .ws_bullets a
{
    margin-left: 5px;
    height: 10px;
    width: 10px;
    float: left;
    border: 1px solid #B8C4CF;
    color: #B8C4CF;
    text-indent: -1000px;
    background-image: url("data:image/gif;base64,");
    position: relative;
}
.wowslider-container.block .ws_selbull
{
    background-color: #B8C4CF;
    color: #FFFFFF;
}
.wowslider-container.block .ws_bullets a:hover, .wowslider-container.block .ws_overbull
{
    background-color: #dae9f6;
    color: #FFFFFF;
}
.wowslider-container.block a.ws_next, .wowslider-container.block a.ws_prev
{
    font-family: Tahoma,Arial,Helvetica;
    font-size: 14px;
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -15px;
    line-height: 30px;
    z-index: 60;
    background-color: #000000;
    color: #FFFFFF;
    padding: 0px 10px;
    opacity: 0.7;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.wowslider-container.block a.ws_next
{
    right: 0;
}
.wowslider-container.block a.ws_prev
{
    left: 0;
}
* html .wowslider-container.block a.ws_next, * html .wowslider-container.block a.ws_prev
{
    display: block;
}
.wowslider-container.block :hover a.ws_next, .wowslider-container.block :hover a.ws_prev
{
    display: block;
}
.wowslider-container.block .ws-title
{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-right: 5px;
    z-index: 50;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px 1%;
    width: 98%;
    font-family: Tahoma,Arial,Helvetica;
    font-size: 14px;
    opacity: 0.55;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=55);
}
.wowslider-container.block .ws-title div
{
    padding-top: 5px;
    font-size: 12px;
}
.wowslider-container.block .ws_bullets a img
{
    text-indent: 0;
    display: block;
    top: 12px;
    left: -120px;
    visibility: hidden;
    position: absolute;
    border: 2px solid #B8C4CF;
}
.wowslider-container.block .ws_bullets a:hover img
{
    visibility: visible;
}

.wowslider-container.block .ws_bulframe div div
{
    overflow: visible;
    position: relative;
}
.wowslider-container.block .ws_bulframe div
{
    left: 0;
    overflow: hidden;
    position: relative;
}
.wowslider-container.block .ws_bullets .ws_bulframe
{
    display: none;
    top: 25px;
    overflow: visible;
    position: absolute;
    cursor: pointer;
    border: 2px solid #B8C4CF;
}
.wowslider-container.block .ws_bulframe span
{
    position: absolute;
}