/* bottom center */
.wowslider-container.pinboard .ws_bullets
{
    top: 0px;
    right: 0px;
}
.wowslider-container.pinboard
{
    zoom: 1;
    position: relative;
    margin: 0 auto;
    z-index: 100;
}
.wowslider-container.pinboard .ws_images
{
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}
.wowslider-container.pinboard .ws_images a
{
    color: transparent;
}
.wowslider-container.pinboard .ws_images img
{
    top: 0;
    left: 0;
    border: none 0;
}
.wowslider-container.pinboard a
{
    text-decoration: none;
    outline: none;
    border: none;
}
.wowslider-container.pinboard .ws_bullets
{
    font-size: 0px;
    padding: 10px;
    float: left;
    position: absolute;
    z-index: 70;
}
.wowslider-container.pinboard .ws_bullets div
{
    position: relative;
    float: left;
}
.wowslider-container.pinboard .ws_bullets a
{
    margin-left: 4px;
    width: 8px;
    height: 8px;
    background: url(./bullet.png) left top;
    float: left;
    text-indent: -1000px;
    position: relative;
}
.wowslider-container.pinboard .ws_bullets a.ws_selbull, .wowslider-container.pinboard .ws_bullets a:hover
{
    background-position: right top;
}
.wowslider-container.pinboard a.ws_next, .wowslider-container.pinboard a.ws_prev
{
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -33px;
    z-index: 60;
    height: 66px;
    width: 59px;
    background-image: url(./arrows.png);
}
.wowslider-container.pinboard a.ws_next
{
    background-position: 100% 0;
    right: 0px;
}
.wowslider-container.pinboard a.ws_prev
{
    left: 0px;
    background-position: 0 0;
}
.wowslider-container.pinboard a.ws_next:hover
{
    background-position: 100% 100%;
}
.wowslider-container.pinboard a.ws_prev:hover
{
    background-position: 0 100%;
}
* html .wowslider-container.pinboard a.ws_next, * html .wowslider-container.pinboard a.ws_prev
{
    display: block;
}
.wowslider-container.pinboard :hover a.ws_next, .wowslider-container.pinboard :hover a.ws_prev
{
    display: block;
}
.wowslider-container.pinboard .ws-title
{
    position: absolute;
    bottom: 20px;
    left: 0px;
    margin-right: 5px;
    z-index: 50;
    padding: 12px;
    color: #000000;
    text-transform: uppercase;
    background: #F9FBFB;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    height: 22px;
    -moz-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
}
.wowslider-container.pinboard .ws-title div
{
    padding-top: 5px;
    font-size: 13px;
    text-transform: none;
}
.wowslider-container.pinboard .ws_bullets a img
{
    text-indent: 0;
    display: block;
    top: 15px;
    left: -120px;
    visibility: hidden;
    position: absolute;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border: 5px solid #FFFFFF;
}
.wowslider-container.pinboard .ws_bullets a:hover img
{
    visibility: visible;
}
.wowslider-container.pinboard .ws_bulframe div div
{
    overflow: visible;
    position: relative;
}
.wowslider-container.pinboard .ws_bulframe div
{
    left: 0;
    overflow: hidden;
    position: relative;
}
.wowslider-container.pinboard .ws_bullets .ws_bulframe
{
    display: none;
    top: 15px;
    overflow: visible;
    position: absolute;
    cursor: pointer;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border: 5px solid #FFFFFF;
}
.wowslider-container.pinboard .ws_bulframe span
{
    display: block;
    position: absolute;
    top: -11px;
    margin-left: -9px;
    background: url(./triangle.png);
    width: 15px;
    height: 6px;
}