/* 
 * Deprecated DNN CSS class names will remain available for some time
 * before being  permanently removed. Removal will occur according to
 * the  following process:
 *
 * 1. Removal will only occur with a major (x.y) release, never
 *    with a maintenance (x.y.z) release.
 * 2. Removal will not occur less than six months after the release
 *    when it was deprecated.
 * 3. Removal will not occur until after deprecation has been noted 
 *    in at least two major releases.
 *
 *                                              |        |Planned |
 *  Name                                        |Release |Removal |
 *---------------------------------------------- -------- -------- 
 * Mod{NAME}C                                     5.6.2    6.2
 *   {NAME} = sanitized version of the DesktopModule Name 
 *   Used on <div> tag surrounding Module Content, inside container
 *---------------------------------------------- -------- -------- 
 */  



/* PAGE BACKGROUND */
/* background color for the header at the top of the page  */
.HeadBg {
}

/* background color for the content part of the pages */
Body
{
}

.ControlPanel {
}

/* background/border colors for the selected tab */
.TabBg {
}

.LeftPane  { 
}

.ContentPane  { 
}

.RightPane  { 
}

/* text style for the selected tab */
.SelectedTab {
}

/* hyperlink style for the selected tab */
A.SelectedTab:link {
}

A.SelectedTab:visited  {
}

A.SelectedTab:hover    {
}

A.SelectedTab:active   {
}

/* text style for the unselected tabs */
.OtherTabs {
}
    
/* hyperlink style for the unselected tabs */
A.OtherTabs:link {
}

A.OtherTabs:visited  {
}

A.OtherTabs:hover    {
}

A.OtherTabs:active   {
}

/* GENERAL */
/* style for module titles */
.Head   {
}

/* style of item titles on edit and admin pages */
.SubHead    {
}

/* module title style used instead of Head for compact rendering by QuickLinks and Signin modules */
.SubSubHead {
}

/* text style used for most text rendered by modules */
.Normal
{
}

/* text style used for textboxes in the admin and edit pages, for Nav compatibility */
.NormalTextBox
{
}

.NormalRed
{
}

.NormalBold
{
}

/* text style for buttons and link buttons used in the portal admin pages */
.CommandButton     {
}
    
/* hyperlink style for buttons and link buttons used in the portal admin pages */
A.CommandButton:link {
}

A.CommandButton:visited  {
}

A.CommandButton:hover    {
}
    
A.CommandButton:active   {
}

/* button style for standard HTML buttons */
.StandardButton     {
}

/* GENERIC */
H1  {
}

H2  {
}

H3  {
}

H4  {
}

H5, DT  {
}

H6  {
}

TFOOT, THEAD    {
}

TH  {
}

A:link  {
}

A:visited   {
}

A:hover {
}

A:active    {
}

SMALL   {
}

BIG {
}

BLOCKQUOTE, PRE {
}


UL LI   {
}

UL LI LI    {
}

UL LI LI LI {
}

OL LI   {
}

OL OL LI    {
}

OL OL OL LI {
}
OL UL LI   {
}

HR {
}

/* MODULE-SPECIFIC */
/* text style for reading messages in Discussion */    
.Message    {
}   

/* style of item titles by Announcements and events */
.ItemTitle    {
}

/* Menu-Styles */
/* Module Title Menu */
.ModuleTitle_MenuContainer {
}

.ModuleTitle_MenuBar {
}

.ModuleTitle_MenuItem {
}

.ModuleTitle_MenuIcon {
}

.ModuleTitle_SubMenu {
}

.ModuleTitle_MenuBreak {
}

.ModuleTitle_MenuItemSel {
}

.ModuleTitle_MenuArrow {
}

.ModuleTitle_RootMenuArrow {
}

/* Main Menu */

.MainMenu_MenuContainer {
}

.MainMenu_MenuBar {
}

.MainMenu_MenuItem {
}

.MainMenu_MenuIcon {
}

.MainMenu_SubMenu {
}

.MainMenu_MenuBreak {
}

.MainMenu_MenuItemSel {
}

.MainMenu_MenuArrow {
}

.MainMenu_RootMenuArrow {
}

/* Login Styles */
.LoginPanel{
}

.LoginTabGroup{
}

.LoginTab {
}

.LoginTabSelected{
}

.LoginTabHover{
}

.LoginContainerGroup{
}

.LoginContainer{
}
/* added by adam */
/*--------------------------------------------------------------*/
/*product list*/
.rvdsfProductListSubCategoryList
{
 margin :10px; 
}

.rvdsfProductListSubCategoryList a{
  padding: 15px;   
    border-radius: 10px;
    border: 1px #bbb solid;
    color: #111;
  margin:5px;
}
.rvdsfProductListSubCategoryList a:visited{
   color: #111;
}
.rvdsf-productlist-container .rvdsf-field-name a {
       font-weight: 300; 
}
.rvdsf-productlist-container .rvdsf-field-name a:hover {
       font-weight: 400; 
}
.rvdsfProductListSubCategoryList a:hover{
     font-weight: bold;
  background-color:#ddd;
}
.rvdsf-field-name {
    border: solid grey 1px;
}
.rvdsf-field-name:hover {
     font-weight: bold;
  background-color:#ddd;
}
.rvdsf-category-gallery-container {
    display: none;
}
.rvdsf-productlist-list .rvdsf-product-info-container {
    display: inline-block;
  border:none;
    vertical-align: top;
  width: 80%;
}

  .rvdsf-product-info-container .rvdsf-field-name {
        border: none;
}

.rvdsf-productlist-container .btn-toolbar .btn {
    margin: 3px;
    padding: 1px;
}
#rvdsf-product-container .btn
{
  padding:0px;
}
.rvdsf-productlist-container .rvdsf-field-name a { 
    padding: 10px;
}
/*hiding the the icon/thumnail for categories*/
.rvdsfProductListSubCategoryGalleryThumbnail
{
 display:none;
  padding:0px;
}
/*hiding the unneeded label for filtering categories*/
.rvdsf-productfilter-container .rvdsf-field-definition label.control-label {
    display: none;
}
/*adjusting the spacing for filters*/
.form-group.col-xs-6 {
    margin-bottom: 1px;
}
.rvdsf-productfilter-container div.rvdsf-field-definition {
    margin: 0px 0px;
}

#rvdsfProductFilterPanel div.h4 {
    border-bottom: 1px #ccc solid;
}

.rvdsf-productlist-list .rvdsf-product-container {
    border-bottom: 1px #ddd solid;
    padding: 10px 0;
}


