/* bottom center */
.wowslider-container.chrome .ws_bullets
{
    top: 7px;
    right: 7px;
}
.wowslider-container.chrome .ws_bullets .ws_bulframe
{
    top: 20px;
}
.wowslider-container.chrome
{
    zoom: 1;
    position: relative;
    margin: 0 auto;
    z-index: 100;
    width: 100%; 
}
* html .wowslider-container.chrome
{
    background-image: none;
}
.wowslider-container.chrome .ws_images
{
    position: absolute; 
    overflow: hidden;
}
.wowslider-container.chrome .ws_images a
{
    color: transparent;
}
.wowslider-container.chrome .ws_images img
{
    top: 0;
    left: 0;
    border: none 0;
}
.wowslider-container.chrome a
{
    text-decoration: none;
    outline: none;
    border: none;
}
.wowslider-container.chrome .ws_bullets
{
    font-size: 0px;
    padding: 0px;
    float: left;
    position: absolute;
    z-index: 70;
}
.wowslider-container.chrome .ws_bullets div
{
    position: relative;
    float: left;
}
.wowslider-container.chrome .ws_bullets a
{
    margin-left: 0;
    width: 20px;
    height: 20px;
    background: url(./bullet.png) right top;
    float: left;
    text-indent: -1000px;
    position: relative;
}
* html .wowslider-container.chrome .ws_bullets a
{
    background-image: url(./bullet.gif);
}
.wowslider-container.chrome .ws_bullets a.ws_selbull
{
    background-position: left top;
}
.wowslider-container.chrome .ws_bullets a:hover
{
    background-position: left top;
}
.wowslider-container.chrome a.ws_next, .wowslider-container.chrome a.ws_prev
{
    position: absolute;
    display: none;
    top: 50%;
    margin-top: -37px;
    opacity: 0.7;
    z-index: 60;
    height: 75px;
    width: 60px;
    background-image: url(./arrows.png);
}
* html .wowslider-container.chrome a.ws_next, * html .wowslider-container.chrome a.ws_prev
{
    background-image: url(./arrows.gif);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.wowslider-container.chrome a.ws_next
{
    background-position: 100% 0;
    right: 0px;
}
.wowslider-container.chrome a.ws_prev
{
    background-position: 0 0;
}
* html .wowslider-container.chrome a.ws_next, * html .wowslider-container.chrome a.ws_prev
{
    display: block;
}
.wowslider-container.chrome:hover a.ws_next, .wowslider-container.chrome:hover a.ws_prev
{
    display: block;
}
.wowslider-container.chrome .ws-title
{
    position: absolute;
    bottom: 30px;
    margin-right: 30px;
    z-index: 50;
    padding: 10px;
    color: #000000;
    background: #FFF;
    font-family: Tahoma,Arial,Helvetica;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 18px;
    text-align: left;
    text-shadow: 0 0 2px #FFFFFF;
    -moz-border-radius: 0 8px 8px 0;
    -webkit-border-radius: 0 8px 8px 0;
    border-radius: 0 8px 8px 0;
    font-size: 14px;
    opacity: 0.5;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.wowslider-container.chrome .ws-title div
{
    padding-top: 5px;
    font-size: 12px;
}
.wowslider-container.chrome .ws_bullets a img
{
    text-indent: 0;
    display: block;
    top: 20px;
    left: -120px;
    visibility: hidden;
    position: absolute;
    -moz-box-shadow: 0 0 5px #d6d6d6;
    box-shadow: 0 0 5px #d6d6d6;
    border: 3px solid #d6d6d6;
}
.wowslider-container.chrome .ws_bullets a:hover img
{
    visibility: visible;
}
.wowslider-container.chrome .ws_bulframe div div
{
    overflow: visible;
    position: relative;
}
.wowslider-container.chrome .ws_bulframe div
{
    left: 0;
    overflow: hidden;
    position: relative;
}
.wowslider-container.chrome .ws_bullets .ws_bulframe
{
    display: none;
    overflow: visible;
    position: absolute;
    cursor: pointer;
    -moz-box-shadow: 0 0 5px #d6d6d6;
    box-shadow: 0 0 5px #d6d6d6;
    border: 3px solid #d6d6d6;
}
.wowslider-container.chrome .ws_bulframe span
{
    display: block;
    position: absolute;
    top: -7px;
    margin-left: -1px;
    background: url(./triangle.png);
    width: 15px;
    height: 6px;
}