﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CategoryDropDownListControl.ascx.cs" Inherits="Revindex.Dnn.RevindexStorefront.CategoryDropDownListControl" %>
<asp:DropDownList ID="CategoryDropDownList" runat="server" OnSelectedIndexChanged="CategoryDropDownList_SelectedIndexChanged" />
