﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DisplayTemplateDropDownListControl.ascx.cs" Inherits="Revindex.Dnn.RevindexStorefront.DisplayTemplateDropDownListControl" %>
<asp:DropDownList ID="DisplayTemplateDropDownList" runat="server" onselectedindexchanged="DisplayTemplateDropDownList_SelectedIndexChanged">
</asp:DropDownList>
