﻿REVINDEX SOFTWARE LICENSE AGREEMENT<br />
---------------------------------------------------<br />
<br />
By downloading, installing or otherwise using the product identified above and/or its related materials, you agree to be bound by the terms and conditions of this Software License Agreement.
<br />
<br />
This Software License Agreement ("LICENSE") is a legal agreement between you (either an individual or a single entity, also referred to as "LICENSEE", "YOU") and Revindex Inc., ("REVINDEX"), for the software containing this LICENSE which may also include the software’s source code written in a high–level computer language, associated media, printed materials, and "online" or electronic documentation (collectively referred to as "SOFTWARE").<br />
<br />
Any earlier license REVINDEX may have granted to you for the use of earlier versions of the SOFTWARE is replaced by this LICENSE.<br />
<br />
SOFTWARE PRODUCT LICENSE<br />
<br />
The SOFTWARE is protected by copyright laws and international copyright treaties, as well as other intellectual property laws and treaties and contains confidential information and trade secrets. The SOFTWARE is licensed to you, not sold. REVINDEX retains ownership of the copy of the SOFTWARE in your possession, and all copies you may be licensed to make. REVINDEX also retains all rights not expressly granted to you in this LICENSE.<br />
<br />
I. GRANT OF LICENSE<br />
<br />
REVINDEX hereby grants to you, and you accept, a non-transferable LICENSE to install, copy and use the SOFTWARE only as authorized below.
<br />
<br />
1. Revindex Storefront Trial Edition License:
<br />
<br />
You are granted a LICENSE for evaluation purposes only. You are authorized to install, copy, and use the SOFTWARE for the sole purpose of testing its functionality. You are not allowed to use it for any commercial purpose.
<br />
<br />
2. Revindex Storefront Standard or Professional Edition License:
<br />
<br />
The Revindex Storefront Standard or Professional Edition LICENSE allows you to use the SOFTWARE for 1 (one) top level domain name (or server name). To use the SOFTWARE for more than 1 (one) top level domain name, you will need to purchase additional LICENSE from REVINDEX.<br />
<br />
3. Revindex Storefront Enterprise Edition License:
<br />
<br />
The Revindex Storefront Enterprise Edition LICENSE allows you to use the SOFTWARE for 1 (one) physical machine on any number of top level domain names (or server name). To use the SOFTWARE for more than 1 (one) physical machine, you will need to purchase additional LICENSE from REVINDEX.<br />
<br />
To facilitate the development process, REVINDEX allows you to deploy the SOFTWARE on your test and development machines. The test and development machines must not be used to service or interface with actual customers of your business. In addition, REVINDEX allows you to make copies of the SOFTWARE for backup purposes only.<br />
<br />
II. DESCRIPTION OF OTHER RIGHTS AND LIMITATIONS
<br />
<br />
You are not allowed to use the SOFTWARE as a whole, or any of its comprising elements, as a basis for creation of another software product.<br />
<br />
You are not allowed to use individually the software components comprising the SOFTWARE, but only as an integral part of the SOFTWARE.<br />
<br />
You are not allowed to disassemble, decompile or "unlock", decode or otherwise reverse translate or engineer, or attempt in any manner to reconstruct or discover any source code or underlying algorithms of the SOFTWARE provided in object code form only.<br />
<br />
You are not allowed to use, copy, modify, or merge copies of the SOFTWARE or any accompanying documents except as permitted in this LICENSE.<br />
<br />
You may not use the REVINDEX product names, logos or trademarks to market your SERVICES or IMPLEMENTATIONS related to the SOFTWARE without the express prior consent of REVINDEX.<br />
<br />
You agree to indemnify, hold harmless, and defend REVINDEX, its directors and its resellers from and against any and all claims or lawsuits including attorney's fees that arise or result from the use or distribution of your software product.<br />
<br />
REVINDEX hereby grants LICENSEE non-transferable, non-exclusive right during the term to display REVINDEX's brand features (including logo, business name, and URL address) for the purpose of promoting or advertising that LICENSEE uses the REVINDEX products or services. LICENSEE hereby grants to REVINDEX a non-transferable, non-exclusive right during the term to use LICENSEE's brand features (including logo, business name, and URL address) to advertise that LICENSEE is using REVINDEX products or services. All use by REVINDEX of LICENSEE's brand features (including any goodwill associated therewith) shall inure to the benefit of LICENSEE and all use by LICENSEE of REVINDEX's brand features (including any goodwill associated therewith) shall inure to the benefit of REVINDEX. At no time during or after the term of this Agreement shall LICENSEE challenge or assist others to challenge the brand features of REVINDEX (except to the extent such restriction is prohibited by applicable law) or the registration thereof by REVINDEX, nor shall LICENSEE attempt to register any brand features that are confusingly similar to those of REVINDEX.<br />
<br />
III. DELIVERY
<br />
<br />
REVINDEX shall deliver to LICENSEE a master copy of the SOFTWARE licensed hereunder in electronic format.<br />
<br />
IV. TERMINATION
<br />
<br />
This LICENSE shall last as long as you use the SOFTWARE in compliance with this LICENSE. REVINDEX may terminate this LICENSE if you fail to comply with any of the terms and conditions herein, your use of the SOFTWARE reflects poorly on REVINDEX, or otherwise disparages or devalues REVINDEX’s brand, REVINDEX's reputation, or REVINDEX's goodwill, or if REVINDEX reasonably determines that it is impracticable to continue providing the services in light of applicable laws. In such event you agree to remove and destroy all copies of the SOFTWARE and any applicable source code.<br />
<br />
REVINDEX reserves the right to discontinue at any time any product, whether it is offered individually or as a part of a product suite. However, REVINDEX will fulfill any contractual obligations to provide support for discontinued products that exist as of the date of discontinuation.<br />
<br />
V. COPYRIGHT
<br />
<br />
All title and copyrights in and to the SOFTWARE, the accompanying materials, and any copies of the SOFTWARE, and any trademarks or service marks of REVINDEX are owned by REVINDEX. All title and intellectual property rights in and to the content that may be accessed through use of the SOFTWARE is the property of the respective content owner and may be protected by applicable copyright or other intellectual property laws and treaties. All error corrections, bug fixes, patches, updates or other modifications shall be the sole property of REVINDEX.<br />
<br />
The SOFTWARE may include derivate works based on 3rd party software products. REVINDEX has rights to redistribute these software products; however the intellectual property for these software products remains with their respective publishers.<br />
<br />
VI. LIMITED WARRANTY
<br />
<br />
REVINDEX warrants solely that the SOFTWARE will perform substantially in accordance with the accompanying user documentation a period of thirty (30) days. REVINDEX does not warrant the use of the SOFTWARE will be uninterrupted or error free at all times and in all circumstances, nor that program errors will be corrected. This limited warranty shall not apply to any error or failure resulting from (i) machine error, (ii) LICENSEE's failure to follow operating instructions, (iii) negligence or accident, or (iv) modifications to the SOFTWARE by any person or entity other than REVINDEX. In the event of a breach of warranty, LICENSEE 's sole and exclusive remedy, is repair of all or any portion of the SOFTWARE where possible. If such remedy fails of its essential purpose, LICENSEE 's sole remedy and REVINDEX's maximum liability shall be within REVINDEX’s decision to provide a replacement copy of the SOFTWARE or a full refund of the paid purchase price for the defective SOFTWARE only. This limited warranty is only valid if REVINDEX receives written notice of breach of warranty no later than thirty (30) days after the warranty period expires and LICENSEE returns all copies of the SOFTWARE to REVINDEX including a return authorization code provided by REVINDEX, at LICENSEE’s cost. EXCEPT FOR THE EXPRESS WARRANTIES SET FORTH IN THIS LICENSE, REVINDEX DISCLAIMS ALL OTHER WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE IMPLIED WARRANTIES OF TITLE, NONINFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.<br />
<br />
VII. LIMITATION OF LIABILITY
<br />
<br />
TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL REVINDEX BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OF OR INABILITY TO USE THE PRODUCT, INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF GOODWILL, WORK STOPPAGE, COMPUTER FAILURE OR MALFUNCTION, OR ANY AND ALL OTHER COMMERCIAL DAMAGES OR LOSSES, EVEN IF ADVISED OF THE POSSIBILITY THEREOF, AND REGARDLESS OF THE LEGAL OR EQUITABLE THEORY (CONTRACT, TORT OR OTHERWISE) UPON WHICH THE CLAIM IS BASED. IN ANY CASE, REVINDEX'S ENTIRE LIABILITY UNDER ANY PROVISION OF THIS AGREEMENT SHALL NOT EXCEED IN THE AGGREGATE THE SUM OF THE LICENSE FEES LICENSEE PAID TO REVINDEX FOR THE PRODUCT GIVING RISE TO SUCH DAMAGES, NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THIS EXCLUSION AND LIMITATION MAY NOT BE APPLICABLE. REVINDEX IS NOT RESPONSIBLE FOR ANY LIABILITY ARISING OUT OF CONTENT PROVIDED BY LICENSEE OR A THIRD PARTY THAT IS ACCESSED THROUGH THE PRODUCT AND/OR ANY MATERIAL LINKED THROUGH SUCH CONTENT. ANY DATA INCLUDED IN A PRODUCT UPON SHIPMENT FROM REVINDEX MAY BE FOR TESTING USE ONLY AND REVINDEX HEREBY DISCLAIMS ANY AND ALL LIABILITY ARISING THEREFROM. THE EXTENT OF REVINDEX'S LIABILITY FOR THE LIMITED WARRANTY SECTION SHALL BE AS SET FORTH THEREIN.<br />
<br />
VIII. MISCELLANEOUS
<br />
<br />
This License will be governed by the law of the province of Quebec, Canada, without regard to the conflict of laws principles thereof. If any provision of this LICENSE is to be held unenforceable, such holding will not affect the validity of the other provisions hereof. Failure of a party to enforce any provision of this LICENSE shall not constitute or be construed as a waiver of such provision or of the right to enforce such provision.<br />
<br />
This License represents the entire understanding between the parties with respect to its subject matter.<br />
<br />
YOU ACKNOWLEDGE THAT YOU HAVE READ THIS AGREEMENT, THAT YOU UNDERSTAND THIS AGREEMENT, AND UNDERSTAND THAT BY CONTINUING THE INSTALLATION OF THE SOFTWARE PRODUCT, BY PURCHASING, LOADING OR RUNNING THE SOFTWARE PRODUCT, OR BY PLACING OR COPYING THE SOFTWARE ONTO YOUR COMPUTER HARD DRIVE, YOU AGREE TO BE BOUND BY THIS AGREEMENT'S TERMS AND CONDITIONS. YOU FURTHER AGREE THAT, EXCEPT FOR WRITTEN SEPARATE AGREEMENTS BETWEEN REVINDEX AND YOU, THIS AGREEMENT IS A COMPLETE AND EXCLUSIVE STATEMENT OF THE RIGHTS AND LIABILITIES OF THE PARTIES.
<br />
<br />
SAXONICA LICENSE<br />
---------------------------------------------------<br />
Parts of this software uses the Saxon XSLT and XQuery Processor from Saxonica Limited located at http://www.saxonica.com/. The contents of these files are subject to the Mozilla Public License Version 1.0 (the "License"); you may not use these files except in compliance with the License. You may obtain a copy of the License at http://www.mozilla.org/MPL/<br />
<br />
Software distributed under the License is distributed on an "AS IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for the specific language governing rights and limitations under the License.<br />
<br />
The Original Code is all Saxon modules labelled with a notice referring to this license.<br />
<br />
The Initial Developer of the Original Code is Michael Kay, except where otherwise specified in an individual module.<br />
<br />
Portions created by other named contributors are copyright as identified in the relevant module. All Rights Reserved.<br />
<br />
<br />
BOOTSTRAP-RATING<br />
---------------------------------------------------<br />
Copyright (c) 2013 dreyescat (http://github.com/dreyescat)<br />
<br />
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.<br />
<br />
<br />
BOOTSTRAP-TREEVIEW<br />
---------------------------------------------------<br />
Copyright 2013 Jonathan Miles<br />
<br />
Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 <br />
<br />
Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.<br />
<br />