/******************
DNN overrides
*******************/
span.dnnFormMessage {
  display: block;
}
div.dnnFormGroup {
  background-color: inherit;
  width: 100%;
}
.dnnGrid {
  width: 100%;
}
.dnnGridHeader th {
  text-align: left;
}
/* DNN 7.1 default template doesn't shrink form and makes it hard to see where nested form begins and ends */
.dnnForm {
  max-width: 96%;
  margin-left: auto;
  margin-right: auto;
}
/* DNN 6.x uses position relative that causes the tab to overlay over the page */
.dnnForm .ui-tabs {
  position: inherit;
}
.dnnForm .dnnFormItem > .RadComboBox_Default {
  margin-bottom: 0;
}
.TelerikModalOverlay {
  background-color: #000000 !important;
  filter: alpha(opacity=80) !important;
  opacity: 0.8 !important;
}
/* Make images responsive */
/*img
{
	width: auto;
	max-width: 100%;
}*/
/* Zoom image should not shrink */
.zoomWrapperImage img {
  max-height: none;
  max-width: none;
}
p.form-control-static {
  font-size: inherit;
}
/* DNN 7.1 default template uses inline-block, which doesn't push the content down when tabs are wrapped. We need to set height auto to fix it. */
ul.dnnAdminTabNav {
  height: auto;
}
/* DNN 7.1 default template uses a large padding on the tab causing the ugly wrap */
ul.dnnAdminTabNav li.ui-tabs-active a {
  margin-top: -2px;
  padding-bottom: 8px;
}
/* DNN 7.1 default template need larger padding between tab strip and tab panel */
.ui-tabs .ui-tabs-panel {
  padding-top: 10px;
}
/* Fix DNN bug DNN-26843 that injects jScrollPane causing scroll pane to render incorrectly */
.RadComboBoxDropDown .jspContainer {
  position: absolute;
}
/* Fix DNN bug DNN-4983 adding extra padding to input button causing radsplitbar to be oversized */
input[type="button"].rspCollapseBarSpacer {
  min-width: 0;
  padding: 0 0;
}
/* Fix bootstrap forces box-sizing to border-box causing RadMenu multicolumn to render as single column. See http://www.telerik.com/forums/radmenu-with-repeatcolumns-renders-as-single-column-with-bootstrap */
ul.rmMultiColumn {
  box-sizing: content-box;
}
/* Fix IE11 rendering vertical radslider text incorrectly. */
.RadSplitter .rspPaneTabText.rspRotatedTabText {
  -ms-transform: rotate(90deg);
  writing-mode: lr-tb;
}
.RadCalendar td.rcDisabled > a {
  cursor: default;
  visibility: hidden;
}
/* Fix default skin shows list style in RadWindow */
.RadWindow .rwControlButtons li {
  list-style-type: none;
}
/******************
Common
*******************/
.rvdActions {
  clear: both;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
}
.rvdAddNewGridAction {
  background-image: url(../../Icons/Sigma/Add_16x16_Standard.png);
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin-left: 5px;
  margin-right: 5px;
  width: 16px;
}
ul.rvdBreadcrumb {
  display: inline;
  margin: 0 0;
}
.rvdBreadcrumb li {
  list-style: none;
  display: inline;
  font-size: inherit;
}
.rvdBreadcrumb li:before {
  content: " / ";
  padding-right: 3px;
}
.rvdBreadcrumb li:first-child:before {
  content: "";
  padding-right: 0;
}
.rvdBreadcrumb li:last-child a {
  pointer-events: none;
  text-decoration: none;
  color: inherit;
  cursor: default;
}
.rvdCopyGridAction {
  background-image: url(../../Icons/Sigma/CopyFile_16x16_Standard.png);
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin-left: 5px;
  margin-right: 5px;
  width: 16px;
}
.rvdDownGridAction {
  background-image: url(../../Icons/Sigma/Dn_16x16_Standard.png);
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin-left: 5px;
  margin-right: 5px;
  width: 16px;
}
.rvdDownloadGridAction {
  background-image: url(../../Icons/Sigma/File_16x16_Standard.png);
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin-left: 5px;
  margin-right: 5px;
  width: 16px;
}
.rvdEditGridAction {
  background-image: url(../../Icons/Sigma/Edit_16x16_Standard.png);
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin-left: 5px;
  margin-right: 5px;
  width: 16px;
}
.rvdFormCheckBoxes {
  display: block;
  float: left;
  width: auto;
}
.rvdFormCheckBoxes input[type=checkbox] {
  float: none;
}
.rvdFormCheckBoxes label {
  display: inline;
  float: none;
  font-weight: normal;
  margin: 0 10px 0 4px;
  padding-right: 0;
  text-align: left;
  width: auto;
}
select.rvdFormListBox {
  height: 160px;
}
.rvdLinkAction {
  background-image: url(../../Icons/Sigma/Edit_16x16_Standard.png);
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 20px;
}
.rvdUpGridAction {
  background-image: url(../../Icons/Sigma/Up_16x16_Standard.png);
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin-left: 5px;
  margin-right: 5px;
  width: 16px;
}
.rvdFormMessage {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}
.rvdFormWarning {
  background-color: #FFFFCC;
}
.rvdFormSubContainer {
  display: inline-block;
  width: 50%;
}
a.rvdModalCloseAction {
  background-image: url(../../Images/Close-icn.png);
  background-position: left center;
  background-repeat: no-repeat;
  display: block;
  min-height: 20px;
  padding-left: 30px;
  float: right;
}
.rvdModalContainer {
  background-color: White;
  width: 500px;
  vertical-align: middle;
}
.rvdModalToolbar {
  background: #4E4E4E;
  background: -moz-linear-gradient(top, #4E4E4E 0%, #282828 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4E4E4E), color-stop(100%, #282828));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4E4E4E', endColorstr='#282828', GradientType=0);
  border-bottom: solid 1px #cccccc;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
}
/* Shift start anchor vertically higher so it won't be covered by admin bar */
.rvdModuleStartAnchor {
  float: left;
  position: relative;
  top: -60px;
}
.rvdPager {
  border-top: solid 1px #cccccc;
  text-align: right;
}
.rvdSliderMaxValue {
  float: right;
}
.rvdSliderMinValue {
  float: left;
}
.rvdDeleteGridAction {
  background-image: url(../../Icons/Sigma/Delete_16x16_Standard.png);
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin-left: 5px;
  margin-right: 5px;
  width: 16px;
}
.dnnForm .dnnFormItem > .RadPicker_Default.rvdDateTimeInput {
  display: inline-block;
  width: 170px !important;
  min-width: 0px;
}
.dnnFormItem input.rvdCharacterInput,
input.rvdCharacterInput {
  width: 20px !important;
  min-width: 0px;
}
.dnnFormItem input.rvdQuantityInput,
input.rvdQuantityInput {
  width: 50px !important;
  min-width: 0px;
}
.dnnFormItem select.rvdUnitInput,
select.rvdUnitInput {
  width: 150px !important;
  min-width: 0px;
}
/* Split form items in 2 columns */
.rvdSplit2 > div.dnnFormGroup,
.rvdSplit2 > div.dnnFormItem {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 49%;
}
/* Split form items in 3 columns */
.rvdSplit3 > div.dnnFormGroup,
.rvdSplit3 > div.dnnFormItem {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 32%;
}
/* Split form items in 4 columns */
.rvdSplit4 > div.dnnFormGroup,
.rvdSplit4 > div.dnnFormItem {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 24%;
}
.rvdUpdateGridAction {
  background: url(../../Icons/Sigma/Refresh_16x16_Standard.png);
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin-left: 5px;
  margin-right: 5px;
  width: 16px;
}
.rvd-loading,
.rvdUpdateProgressContainer {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}
.rvd-loading img,
.rvdUpdateProgress {
  left: 50%;
  position: fixed;
  top: 50%;
}
.rvdViewGridAction {
  background-image: url(../../Icons/Sigma/View_16x16_Standard.png);
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin-left: 5px;
  margin-right: 5px;
  width: 16px;
}
/* Add chevron indicators for Bootstrap page headers */
.page-header a {
  color: inherit;
  text-decoration: none;
}
.page-header a:after {
  /* Symbol for opened panels */
  font-family: 'Glyphicons Halflings';
  /* essential for enabling glyphicon */
  content: "\e114";
  float: right;
  color: grey;
}
.page-header a.collapsed:after {
  /* symbol for collapsed panels */
  content: "\e080";
}
/* Add chevron indicators for Bootstrap collapsible panels */
.panel-heading a:after {
  /* Symbol for opened panels */
  font-family: 'Glyphicons Halflings';
  /* essential for enabling glyphicon */
  content: "\e114";
  float: right;
  color: grey;
}
.panel-heading a.collapsed:after {
  /* symbol for collapsed panels */
  content: "\e080";
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
  .collapse-lg {
    display: none;
  }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .collapse-md {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .collapse-sm {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .collapse-xs {
    display: none;
  }
}
/******************
General
******************/
div.ekko-lightbox.modal .close {
  font-size: 50px;
}
div.ekko-lightbox-nav-overlay a {
  font-size: 50px;
  text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}
.rvdsf .alert {
  margin-top: 10px;
}
a.rvdsf-btn-register:visited,
a.rvdsf-btn-login:visited {
  color: white;
}
.rvdsf-label-promotionprice {
  color: #cc0000;
}
.rvdsf-label-price > s {
  color: #666;
  font-weight: normal;
  margin-right: 10px;
}
.rvdsf-label-savings {
  background-color: #cc0000;
  color: white;
  font-size: 11px;
  height: 20px;
  min-width: 70px;
  position: absolute;
  right: 20px;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  z-index: 10;
}
.rvdsf-label-subtotalamount,
.rvdsf-label-totalhandlingamount,
.rvdsf-label-totalrewardspoint,
.rvdsf-label-totalsalesorderdetaildiscountamount,
.rvdsf-label-totalsavingsamount,
.rvdsf-label-totalshippingamount,
.rvdsf-label-totaltaxamount {
  font-weight: bold;
}
.rvdsf-label-totalamount {
  font-size: 1.3em;
  font-weight: bold;
}
.rvdsfBalanceDueAmount {
  font-weight: bold;
}
.rvdsf-bookingdates,
.rvdsfBookingDates {
  font-size: 0.8em;
  margin-bottom: 50px;
  margin-top: 5px;
}
.rvdsf-bookingdates dd,
.rvdsfBookingDates dd {
  float: left;
  margin-left: 0px;
  margin-right: 5px;
}
.rvdsf-bookingdates dt,
.rvdsfBookingDates dt {
  clear: left;
  float: left;
  font-weight: bold;
  margin-right: 3px;
}
.rvdsf-dynamicformresult,
.rvdsfDynamicFormResults {
  font-size: 0.8em;
  margin-bottom: 50px;
  margin-top: 5px;
}
.rvdsf-dynamicformresult dd,
.rvdsfDynamicFormResults dd {
  float: left;
  margin-left: 0px;
  margin-right: 5px;
}
.rvdsf-dynamicformresult dt:after,
.rvdsfDynamicFormResults dt:after {
  content: ": ";
  margin-right: 3px;
}
.rvdsf-dynamicformresult dt,
.rvdsfDynamicFormResults dt {
  clear: left;
  float: left;
  font-weight: bold;
}
.rvdsf-productparts {
  font-size: 0.8em;
  margin-bottom: 50px;
  margin-top: 5px;
}
.rvdsf-productparts dd {
  float: left;
  margin-left: 0px;
  margin-right: 5px;
}
.rvdsf-productparts dt:after {
  content: ": ";
  margin-right: 3px;
}
.rvdsf-productparts dt {
  clear: left;
  float: left;
  font-weight: bold;
  margin-right: 3px;
}
.rvdsfFeaturesContainer {
  background-color: #eaeaea;
}
.dnnFormItem .rvdFormListBox {
  float: left;
  width: 45%;
}
.dnnFormItem > .rvdFormSubContainer > .rvdFormListBox {
  width: 100%;
}
.rvdFormListBox .RadListBox {
  width: 100%;
}
.dnnFormItem .rvdsfFormCodeEditor,
.dnnFormItem .rvdsfFormDynamicFormCodeEditor,
.dnnFormItem .rvdsfFormDynamicFormResultEditor,
.dnnFormItem .rvdsfFormFormulaEditor,
.dnnFormItem .rvdsfFormXmlEditor {
  float: left;
  width: 100%;
}
.dnnFormItem .rvdsfFormCodeEditor textarea,
.dnnFormItem .rvdsfFormDynamicFormCodeEditor textarea,
.dnnFormItem .rvdsfFormDynamicFormResultEditor textarea,
.dnnFormItem .rvdsfFormFormulaEditor textarea,
.dnnFormItem .rvdsfFormXmlEditor textarea {
  /* Use border box sizing so that width is calculated as total including padding to avoid hiding scrollbar */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-style: none;
  font-size: 12px;
  max-width: inherit;
}
.rvdsfMSRPPriceAmount {
  font-weight: normal;
}
.rvdsfPriceAmount {
  font-weight: bold;
}
.rvdsfProductParts {
  font-size: 0.8em;
  margin-bottom: 5px;
  margin-top: 5px;
}
.rvdsfProductParts dd {
  float: left;
  margin-left: 0px;
  margin-right: 5px;
}
.rvdsfProductParts dt:after {
  content: ": ";
  margin-right: 3px;
}
.rvdsfProductParts dt {
  clear: left;
  float: left;
  font-weight: bold;
}
.rvdsf-productvariant-name {
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 5px;
}
ul.rvdsf-socialshare-list {
  list-style-type: none;
  margin: 20px 0 0 0;
}
ul.rvdsfSocialShareActions {
  list-style-type: none;
}
ul.rvdsf-socialshare-list li,
ul.rvdsfSocialShareActions li {
  display: inline-block;
  margin: 0 2px;
  padding: 0 0;
}
ul.rvdsfSocialShareActions li span {
  vertical-align: baseline !important;
}
ul.rvdsf-socialshare-list a.rvdsf-socialshare-email,
ul.rvdsfSocialShareActions a.rvdsfSocialShareEmailAction {
  width: 32px;
  height: 32px;
  display: inline-block;
  background-image: url("Media/EmailIcon32.png");
  border: none;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE 8 to 9 */
}
ul.rvdsf-socialshare-list a.rvdsf-socialshare-facebook,
ul.rvdsfSocialShareActions a.rvdsfSocialShareFacebookAction {
  width: 32px;
  height: 32px;
  display: inline-block;
  background-image: url("Media/FacebookIcon32.png");
  border: none;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE 8 to 9 */
}
ul.rvdsf-socialshare-list a.rvdsf-socialshare-google,
ul.rvdsfSocialShareActions a.rvdsfSocialShareGoogleAction {
  width: 32px;
  height: 32px;
  display: inline-block;
  background-image: url("Media/GooglePlusIcon32.png");
  border: none;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE 8 to 9 */
}
ul.rvdsf-socialshare-list a.rvdsf-socialshare-linkedin,
ul.rvdsfSocialShareActions a.rvdsfSocialShareLinkedInAction {
  width: 32px;
  height: 32px;
  display: inline-block;
  background-image: url("Media/LinkedInIcon32.png");
  border: none;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE 8 to 9 */
}
ul.rvdsf-socialshare-list a.rvdsf-socialshare-twitter,
ul.rvdsfSocialShareActions a.rvdsfSocialShareTwitterAction {
  width: 32px;
  height: 32px;
  display: inline-block;
  background-image: url("Media/TwitterIcon32.png");
  border: none;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE 8 to 9 */
}
.rvdsfRiskScoreHigh {
  -moz-border-radius: 3px;
  background-color: red;
  border: 3px solid red;
  border-radius: 3px;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  min-width: 40px;
  text-align: center;
}
.rvdsfRiskScoreLow {
  -moz-border-radius: 3px;
  background-color: yellowgreen;
  border: 3px solid yellowgreen;
  border-radius: 3px;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  min-width: 40px;
  text-align: center;
}
.rvdsfRiskScoreModerate {
  -moz-border-radius: 3px;
  background-color: gold;
  border: 3px solid gold;
  border-radius: 3px;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  min-width: 40px;
  text-align: center;
}
.dnnGrid .rvdsfRiskScoreLow,
.dnnGrid .rvdsfRiskScoreModerate,
.dnnGrid .rvdsfRiskScoreHigh {
  border: 0;
  border-radius: initial;
  font-size: 1.1em;
}
.rvdsfRegularPriceAmount > span {
  text-decoration: line-through;
  font-weight: bold;
}
.rvdsfRegularPriceText > span {
  color: #ff6a00;
  font-weight: bold;
}
.rvdsfSalesOrderDetailCount {
  font-weight: bold;
}
span.rvdsfSalePriceAmount,
.rvdsfSalePriceAmount > span {
  color: Red;
  font-weight: bold;
}
span.rvdsfSavingsAmount,
.rvdsfSavingsAmount > span {
  color: Red;
  font-weight: bold;
}
.rvdsfSubTotalAmount {
  font-weight: bold;
}
.rvdsfTotalAmount {
  font-size: 1.3em;
  font-weight: bold;
}
.rvdsfTotalDiscountAmount {
  color: Red;
  font-weight: bold;
}
.rvdsfTotalHandlingAmount {
  font-weight: bold;
}
.rvdsfTotalPaymentAmount {
  font-weight: bold;
}
.rvdsfTotalSalesOrderDetailDiscountAmount {
  font-weight: bold;
}
.rvdsfTotalShippingAmount {
  font-weight: bold;
}
.rvdsfTotalTaxesAmount {
  font-weight: bold;
}
.dnnFormItem input.rvdsfCreditCardVerificationNumberInput,
input.rvdsfCreditCardVerificationNumberInput {
  width: 50px !important;
  min-width: 0px;
}
.rvdsfCheckoutContainer .rvdsfCheckoutPaymentContainer .dnnFormItem select.rvdsfCreditCardExpiryMonthInput,
.dnnFormItem select.rvdsfCreditCardExpiryMonthInput {
  min-width: 0;
  width: auto;
}
.dnnFormItem select.rvdsfCreditCardExpiryYearInput,
.rvdsfCheckoutContainer .rvdsfCheckoutPaymentContainer .dnnFormItem select.rvdsfCreditCardExpiryYearInput,
.dnnFormItem input[type="text"].rvdsfCreditCardExpiryYearInput {
  min-width: 0;
  width: auto;
}
.rating-symbol .glyphicon-star {
  color: orange;
  font-size: 16px;
}
.rating-symbol .glyphicon-star-empty {
  color: #ccc;
  font-size: 16px;
}
/******************
Admin
*******************/
.rvdsfBackAction {
  background-image: url(../../Images/arrow-left.png);
  background-position: 5px center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  vertical-align: text-bottom;
  width: 20px;
}
.rvdsfBackAction:hover {
  opacity: 0.5;
}
.rvdsfBackAction + h2 {
  display: inline-block;
}
.rvdsfContentContainer {
  padding-top: 40px;
}
.rvdsfContentContainer .dnnFormItem > .RadPicker_Default {
  margin: 0 !important;
  width: 120px !important;
}
/* Make disabled dropdown and combobox more readable */
.rvdsfContentContainer input[disabled='disabled'],
.rvdsfContentContainer select[disabled='disabled'],
.rvdsfContentContainer .RadComboBox .rcbDisabled {
  opacity: 1.0;
}
/* Needed to fix Chrome rendering issue with CodeMirror inside a fieldset */
.rvdsfContentContainer .dnnForm fieldset {
  /*display: table-cell;*/
  min-width: 0;
}
.rvdsfContentContainer .CodeMirror,
.rvdsfContentContainer .CodeMirror-scroll {
  height: 600px;
}
.rvdsfDashboardLeftAsideContainer {
  float: left;
  padding-right: 20px;
  width: 65%;
}
.rvdsfDashboardRightAsideContainer {
  float: left;
  padding-left: 20px;
  width: 30%;
}
.rvdsfDashboardOrderStatusContainer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.rvdsfDashboardOrderStatusContainer .dnnForm {
  min-width: 0;
}
.rvdsfDashboardOrderStatusGrid {
  border-collapse: separate;
  border-spacing: 5px;
  width: 100%;
}
.rvdsfDashboardOrderStatusGrid td {
  color: #333333;
  border-radius: 5px;
}
.rvdsfDashboardOrderStatusGrid th span {
  font-size: 1.1em;
  font-weight: bold;
}
.rvdsfDashboardOrderStatusGrid td a {
  color: black;
  text-decoration: none;
}
.rvdsfDashboardOrderStatusGrid td,
.rvdsfDashboardOrderStatusGrid th {
  font-weight: normal;
  height: 10%;
  padding: 5px;
  text-align: center;
  width: 25%;
}
.rvdsfDashboardRecentSalesActivityContainer {
  clear: both;
}
.rvdsfDashboardRecentSalesActivityChart {
  width: 100%;
  height: 300px;
  margin: 10px auto;
  border: 1px solid #cccccc;
}
.rvdsfDashboardSalesSnapshotContainer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.rvdsfDashboardSalesSnapshotContainer .dnnForm,
.rvdsfDashboardSalesSnapshotContainer td > .dnnTooltip {
  min-width: 0;
}
.rvdsfDashboardSalesSnapshotContainer td > .dnnFormLabel {
  margin-right: 0;
  padding-right: 0;
  width: 160px;
}
.rvdsfDashboardSalesSnapshotGrid {
  border-collapse: collapse;
  width: 100%;
}
.rvdsfDashboardSalesSnapshotGrid td > .dnnLabel {
  width: 100px;
}
.rvdsfDashboardSalesSnapshotGrid td:first-child {
  font-weight: bold;
}
.rvdsfDashboardVersionContainer {
  margin-top: 20px;
  font-weight: bold;
  clear: both;
}
.rvdsfGalleryPreviewContainer {
  max-height: 400px;
  max-width: 400px;
  overflow: auto;
}
.rvdsfSearchContainer .dnnFormItem > .RadComboBox_Default {
  margin-bottom: -12px;
}
/* DNN 7.1 renders the RadNumericTextBox with a fixed width on the span tag */
.rvdsfSearchContainer span.RadInput {
  width: auto !important;
}
.rvdsfMenu {
  width: 100%;
  z-index: 9 !important;
}
.rvdsfMenu .rmGroupColumn {
  /* BUG: Require the following style such that the Configuration menu won't show two black dots. */
  list-style-type: none;
}
.rvdsfSalesOrderDetailGrid .rvdGridChildItem td:nth-child(3) {
  font-size: 0;
}
/* Indent child row */
.rvdsfSalesOrderDetailGrid .rvdGridChildItem td:nth-child(4),
.rvdsfSalesOrderDetailGrid .rvdGridChildItem td:nth-child(5) {
  padding-left: 40px;
}
/* Make RadMenu look more flat */
.ModRevindexDnnRevindexStorefrontC .RadMenu_Default .rmRootGroup {
  background-color: #dfdfdf;
  border: none;
  border-bottom: 1px solid #828282;
}
/* Make RadMenu look more flat */
.ModRevindexDnnRevindexStorefrontC .RadMenu_Default a.rmLink,
.ModRevindexDnnRevindexStorefrontC .RadMenu_Default .rmRootGroup {
  background-image: none;
}
/* Make RadPanelBar look more flat */
.ModRevindexDnnRevindexStorefrontC .RadPanelBar_Default .rpLink {
  background-color: #dfdfdf;
}
/* Make RadMenu and RadPanelBar icons grayscale to look more flat */
.ModRevindexDnnRevindexStorefrontC .rmLink img,
.ModRevindexDnnRevindexStorefrontC .rpLink img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE 8 to 9 */
}
/* On hover, remove grayscale effect */
.ModRevindexDnnRevindexStorefrontC .rmLink:hover img,
.ModRevindexDnnRevindexStorefrontC .rpLink:hover img {
  -webkit-filter: inherit;
  filter: inherit;
}
/******************
Cart
*******************/
.rvdsf-cart-container .rvdsf-salesorderdetail-table .rvdsf-field-qty input,
.rvdsf-cart-container .rvdsf-salesorderdetail-table .rvdsf-field-qty select {
  background-color: #eee;
  border: 0;
  padding: 8px;
  width: 60px;
}
.rvdsf-cart-container .rvdsf-salesorderdetail-table .rvdsf-field-qty .rvdsf-label-amount {
  margin-top: 20px;
  font-size: 14px;
}
.rvdsf-cart-container .rvdsf-salesorderdetail-table .rvdsf-label-amount {
  font-weight: bold;
}
.rvdsf-cart-container .rvdsf-btn-resetcart {
  margin-bottom: 20px;
  margin-top: 20px;
}
.rvdsf-cart-amount-container {
  font-size: 14px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.rvdsf-cart-container .rvdsf-coupon-list li {
  float: left;
  list-style-type: none;
  margin-right: 20px;
  margin-top: 20px;
}
.rvdsfCartActions {
  clear: both;
  display: block;
  margin-top: 10px;
  padding-top: 10px;
}
.rvdsfCartActions .rvdsfCheckoutAction {
  float: right;
}
.rvdsfCartGalleryThumbnail > img {
  float: left;
  margin: 5px 10px 5px 5px;
}
.rvdsfCartModifiedMessage {
  background-color: #FFFF66;
  font-weight: bold;
  padding: 10px;
  display: block;
  position: relative;
  z-index: 1000;
}
.rvdsfCartProduct {
  float: left;
}
.rvdsfCartContainer .rvdsfSalesOrderDetailGrid {
  border-collapse: inherit !important;
  width: 100%;
}
.rvdsfCartTotalAmountContainer {
  margin: 10px 10px 20px auto;
  max-width: 320px;
}
.rvdsfCartTotalAmountContainer span {
  float: right;
}
.rvdsfShippingMethodSelectionContainer .rvdFormSubContainer div {
  overflow: hidden;
  margin-bottom: 20px;
}
/******************
CartSummary
*******************/
.rvdsf-cartsummary-header-container .rvdsf-label-amount {
  font-weight: bold;
  margin-left: 8px;
}
.rvdsf-cartsummary-container .btn-toolbar .btn {
  width: 100%;
  margin: 3px;
  max-width: 240px;
}
.rvdsfCartSummaryActions {
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}
div.rvdsf-cartsummary-detail-container {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px 20px;
}
.rvdsfCartSummaryDetailContainer {
  margin-bottom: 10px;
  margin-top: 10px;
}
.rvdsfCartSummaryDetailItem .dnnTooltip {
  float: left;
  font-weight: bold;
  display: block;
  margin-right: 16px;
  margin-top: 3px;
  text-align: right;
  width: 30%;
}
.rvdsfCartSummaryDetailItem > span {
  float: left;
  display: block;
  margin-top: 3px;
  text-align: left;
}
.rvdsfCartSummaryDetailContainer .rvdsfCartSummaryDetailItem:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.rvdsfCartSummaryPaymentAcceptanceContainer {
  padding: 5px;
  text-align: center;
}
.rvdsfCartSummaryContainer .rvdsfCartTotalAmountContainer span {
  float: none;
}
.rvdsf-cartsummary-container .rvdsf-btn-viewcart span {
  color: #666;
}
.rvdsfCartSummaryAbstractContainer a.rvdsfViewCartAction {
  background-image: url("../../Icons/Sigma/CatalogCart_32X32_Standard.png");
  width: 32px;
  height: 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: lightgrey;
  border-radius: 30px;
  display: inline-block;
  padding: 10px 10px;
  vertical-align: middle;
}
.rvdsf-cartsummary-detail-container,
.rvdsfCartSummaryAbstractContainer a.rvdsfViewCartAction:hover {
  background-color: white;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.75);
}
.rvdsfCartSummaryAbstractContainer .rvdsfCartSummaryDetailItem {
  display: inline-block;
}
.rvdsfCartSummaryAbstractContainer .rvdsfCartSummaryDetailItem > span {
  float: none;
}
.rvdsfCartSummaryAbstractContainer .rvdsfCartSummaryDetailItem .dnnLabel {
  display: none;
}
.rvdsfCartSummaryAbstractContainer .rvdsfSalesOrderDetailCount {
  font-size: 1.4em;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 16px;
}
.rvdsf-cartsummary-detail-container,
.dnnFormPopup.rvdsfCartSummaryDetailContainer {
  display: none;
  min-width: 260px;
  position: absolute;
  z-index: 1000;
}
.rvdsfCartSummaryDetailContainer .dnnFormItem.rvdsfSubTotalAmount {
  font-size: 1.1em;
  font-weight: bold;
}
.rvdsf-cartsummary-container .rvdsf-salesorderdetail-table img,
.rvdsfCartSummaryDetailContainer .rvdsfSalesOrderDetailGrid img {
  width: 32px;
}
.rvdsf-cartsummary-amount-container {
  font-size: 14px;
}
/* Hide price column */
.rvdsfCartSummaryDetailContainer .rvdsfSalesOrderDetailGrid th:nth-child(2),
.rvdsfCartSummaryDetailContainer .rvdsfSalesOrderDetailGrid td:nth-child(2) {
  display: none;
}
/******************
Category
*******************/
/* Fix left margin */
.rvdsf-category-container ul.list-group {
  margin-left: 0;
}
/* Node */
.rvdsfCategoryTreeView.RadTreeView .rtIn {
  padding: 4px 3px 3px;
  white-space: normal;
}
/* Hover on node */
.rvdsfCategoryTreeView.RadTreeView .rtHover .rtIn {
  border-style: none;
  border-width: 0px;
  padding: 4px 3px 3px;
}
/* Selected node */
.rvdsfCategoryTreeView.RadTreeView .rtSelected .rtIn {
  border-style: none;
  border-width: 0px;
  padding: 4px 3px 3px;
}
/* Space between expand icon and link */
/* Collapse icon */
.rvdsfCategoryTreeView.RadTreeView .rtMinus {
  background-image: url(../../Icons/Sigma/Min_12x12_Standard.png);
  background-position: 0 0;
  width: 12px;
  height: 16px;
  margin-top: 2px;
}
/* Expand icon */
.rvdsfCategoryTreeView.RadTreeView .rtPlus {
  background-image: url(../../Icons/Sigma/Max_12x12_Standard.png);
  background-position: 0 0;
  width: 12px;
  height: 16px;
  margin-top: 2px;
}
/******************
Checkout
*******************/
.rvdsfCheckoutActions {
  clear: both;
  display: block;
  margin-top: 10px;
  padding-top: 10px;
}
.rvdsfCheckoutActions .rvdsfReviewOrderAction,
.rvdsfCheckoutActions .rvdsfPlaceOrderAction {
  float: right;
}
.rvdsfCheckoutPageViewModeSingle .rvdsfCheckoutActions .rvdsfPlaceOrderAction {
  float: none;
}
.rvdsfCheckoutAccountActions {
  margin-top: 10px;
  display: block;
  padding-top: 10px;
}
.rvdsf-checkout-breadcrumb,
.rvdsfCheckoutBreadcrumb {
  -moz-border-radius: 10px;
  background: #EEEEEE;
  border-radius: 10px;
  margin: 0 0 20px;
  padding: 5px 20px;
  text-align: center;
}
.rvdsf-checkout-breadcrumb a,
.rvdsfCheckoutBreadcrumb a {
  vertical-align: middle;
}
.rvdsf-checkout-breadcrumb a[disabled],
.rvdsfCheckoutBreadcrumb a[disabled],
.rvdsfCheckoutBreadcrumb .aspNetDisabled {
  color: #333333;
  text-decoration: none;
}
.rvdsf-checkout-breadcrumb-separator,
.rvdsfCheckoutBreadcrumbSeparator {
  background: url("Media/StepSeparatorIcon.gif");
  background-repeat: no-repeat;
  background-position: left center;
  display: inline-block;
  height: 16px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  width: 16px;
}
a.rvdsf-checkout-breadcrumb-selected,
a.rvdsfCheckoutBreadcrumbSelected {
  color: inherit;
  font-weight: bold;
}
.rvdsfCheckoutContainer select {
  max-width: 300px;
}
.rvdsfCheckoutContainer .rvdsfSalesOrderDetailGrid {
  border-collapse: inherit !important;
  width: 100%;
}
.rvdsfCheckoutCouponList {
  clear: both;
  display: block;
  margin: 15px;
  text-align: center;
  width: 100%;
}
.rvdsfCheckoutRewardsPointList {
  clear: both;
  display: block;
  margin: 15px;
  text-align: center;
  width: 100%;
}
.rvdsfCheckoutVoucherList {
  clear: both;
  display: block;
  margin: 15px;
  text-align: center;
  width: 100%;
}
/* Hide breadcrumb in single page checkout mode */
.rvdsfCheckoutPageViewModeSingle .rvdsfCheckoutBreadcrumb {
  display: none;
}
.rvdsfCheckoutPageViewModeSingle .rvdsfCheckoutBillingAndShippingContainer,
.rvdsfCheckoutPageViewModeSingle .rvdsfCheckoutPaymentContainer {
  float: left;
  width: 60%;
}
.rvdsfCheckoutPageViewModeSingle .rvdsfCheckoutReviewOrderContainer {
  float: right;
  width: 39%;
  position: relative;
}
.rvdsfCheckoutPageViewModeSingle .rvdsfCheckoutReviewOrderContainer img {
  width: 15%;
}
/* Hide price column */
.rvdsfCheckoutPageViewModeSingle .rvdsfSalesOrderDetailGrid th:nth-child(2),
.rvdsfCheckoutPageViewModeSingle .rvdsfSalesOrderDetailGrid td:nth-child(2) {
  display: none;
}
/******************
Confirmation
*******************/
.rvdsfConfirmationActions {
  clear: both;
  display: block;
  margin-top: 10px;
  padding-top: 10px;
}
.rvdsfConfirmationContainer .rvdsfSalesOrderDetailGrid {
  border-collapse: inherit !important;
  width: 100%;
}
.rvdsfConfirmationContainer .rvdsfPaymentMethods {
  display: inline-block;
}
.rvdsfConfirmationContainer .rvdsfPaymentMethods dd {
  float: left;
}
.rvdsfConfirmationContainer .rvdsfPaymentMethods dt {
  clear: left;
  float: left;
  min-width: 190px;
}
.rvdsfConfirmationBillingInformationContainer {
  clear: left;
  float: left;
  width: 50%;
  margin-bottom: 40px;
}
.rvdsfConfirmationOrderInformationContainer {
  float: left;
  width: 50%;
  margin-bottom: 40px;
}
.rvdsfConfirmationOrderNumber {
  font-size: 1.1em;
  font-weight: bold;
}
.rvdsfConfirmationOrderInformationContainer .dnnFormItem .dnnTooltip {
  width: 50%;
}
.rvdsfConfirmationPaymentInformationContainer {
  float: left;
  width: 50%;
  margin-bottom: 40px;
}
.rvdsfConfirmationShippingInformationContainer {
  float: left;
  width: 50%;
  margin-bottom: 40px;
}
.rvdsfConfirmationShippingInformationContainer:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.rvdsf-confirmation-container table.rvdsf-salesorderdetail-table {
  margin-top: 60px;
}
/******************
Crosssell product
*******************/
.rvdsfCrosssellProductContainer {
  margin-top: 20px;
}
.rvdsfCrosssellProductContainer .rvdsfProductDisplayName {
  font-size: 1em;
}
.rvdsfCrosssellProductContainer ul.dnnActions {
  float: right;
}
.rvdsfCrosssellProductList {
  margin: 10px 10px 10px 10px;
  text-align: center;
}
.rvdsfCrosssellProductItemInfoContainer .dnnFormItem {
  min-height: 0;
}
.rvdsfCrosssellProductItemInfoContainer .rvdsfProductDisplayRating {
  margin: 0 auto;
}
.rvdsfCrosssellProductGroup {
  display: inline-block;
}
.rvdsfCrosssellProductItem {
  margin: 10px 10px 10px 10px;
}
.rvdsfCrosssellProductItemAbstractContainer {
  float: left;
  width: 30%;
}
.rvdsfCrosssellProductItemInfoContainer {
  display: inline-block;
  margin-left: 10px;
  width: 60%;
}
.rvdsfCrosssellProductProductGroup {
  margin-bottom: 40px;
}
.rvdsfCrosssellProductProductList {
  width: 480px;
}
.rvdsf-crosssellproduct-container .rvdsf-crosssellproduct-header {
  margin-bottom: 10px;
  min-height: 60px;
}
.rvdsf-crosssellproduct-container .rvdsf-product-container {
  padding: 0 0 60px 0;
  text-align: center;
}
.rvdsf-crosssellproduct-container div.rvdsf-product-info-container {
  min-height: 100px;
}
.rvdsf-crosssellproduct-container .rvdsf-product-gallery-container {
  border: #ddd 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}
.rvdsf-crosssellproduct-container .rvdsf-product-gallery-container img {
  max-height: 140px;
}
.rvdsf-crosssellproduct-container .btn-toolbar .btn {
  float: none;
  width: 100%;
  margin: 3px;
}
.rvdsf-crosssellproduct-container div.rvdsf-field-name {
  margin: 5px auto;
}
.rvdsf-crosssellproduct-container .rvdsf-field-name a {
  color: inherit;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.rvdsf-crosssellproduct-container div.rvdsf-field-price {
  margin: 5px auto;
}
.rvdsf-crosssellproduct-container .rvdsf-field-price {
  font-size: 14px;
  font-weight: bold;
}
.rvdsf-crosssellproduct-container .rvdsf-field-qty input,
.rvdsf-crosssellproduct-container .rvdsf-field-qty select {
  background-color: #eee;
  border: 0;
  padding: 8px;
  width: 60px;
}
.rvdsf-crosssellproduct-container div.rvdsf-field-rating {
  margin: 5px auto;
}
/******************
Distributor
*******************/
/* Fix left margin */
.rvdsf-distributor-container ul.list-group {
  margin-left: 0;
}
/* Node */
.rvdsfDistributorTreeView.RadTreeView .rtIn {
  padding: 4px 3px 3px;
  white-space: normal;
}
/* Hover on node */
.rvdsfDistributorTreeView.RadTreeView .rtHover .rtIn {
  border-style: none;
  border-width: 0px;
  padding: 4px 3px 3px;
}
/* Selected node */
.rvdsfDistributorTreeView.RadTreeView .rtSelected .rtIn {
  border-style: none;
  border-width: 0px;
  padding: 4px 3px 3px;
}
/* Space between expand icon and link */
/* Collapse icon */
.rvdsfDistributorTreeView.RadTreeView .rtMinus {
  background-image: url(../../Icons/Sigma/Min_12x12_Standard.png);
  background-position: 0 0;
  width: 12px;
  height: 16px;
  margin-top: 2px;
}
/* Expand icon */
.rvdsfDistributorTreeView.RadTreeView .rtPlus {
  background-image: url(../../Icons/Sigma/Max_12x12_Standard.png);
  background-position: 0 0;
  width: 12px;
  height: 16px;
  margin-top: 2px;
}
/******************
ManageOrder
******************/
.rvdsfManageOrderVoucherList {
  clear: both;
  display: block;
  margin: 15px;
  text-align: center;
  width: 100%;
}
/******************
Manufacturer
*******************/
/* Fix left margin */
.rvdsf-manufacturer-container ul.list-group {
  margin-left: 0;
}
/* Node */
.rvdsfManufacturerTreeView.RadTreeView .rtIn {
  padding: 4px 3px 3px;
  white-space: normal;
}
/* Hover on node */
.rvdsfManufacturerTreeView.RadTreeView .rtHover .rtIn {
  border-style: none;
  border-width: 0px;
  padding: 4px 3px 3px;
}
/* Selected node */
.rvdsfManufacturerTreeView.RadTreeView .rtSelected .rtIn {
  border-style: none;
  border-width: 0px;
  padding: 4px 3px 3px;
}
/* Space between expand icon and link */
/* Collapse icon */
.rvdsfManufacturerTreeView.RadTreeView .rtMinus {
  background-image: url(../../Icons/Sigma/Min_12x12_Standard.png);
  background-position: 0 0;
  width: 12px;
  height: 16px;
  margin-top: 2px;
}
/* Expand icon */
.rvdsfManufacturerTreeView.RadTreeView .rtPlus {
  background-image: url(../../Icons/Sigma/Max_12x12_Standard.png);
  background-position: 0 0;
  width: 12px;
  height: 16px;
  margin-top: 2px;
}
/******************
Product display
******************/
.rvdsf-product-container ul.rvdsf-form-colorpicker {
  margin-left: 0;
}
.rvdsf-product-container .rvdsf-form-colorpicker li {
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  list-style-type: none;
  margin: 3px;
  vertical-align: middle;
  width: 32px;
}
.rvdsf-product-container .rvdsf-form-colorpicker a {
  display: none;
}
.rvdsf-product-container li.rvdsf-form-colorpicker-selected {
  outline-style: solid;
  outline-width: 3px;
  outline-color: #cccccc;
  cursor: default;
}
.rvdsf-product-container ul.rvdsf-form-imageswatch {
  margin-left: 0;
}
.rvdsf-product-container .rvdsf-form-imageswatch li {
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  list-style-type: none;
  margin: 3px;
  vertical-align: middle;
  width: 32px;
}
.rvdsf-product-container .rvdsf-form-imageswatch a {
  display: none;
}
.rvdsf-product-container li.rvdsf-form-imageswatch-selected {
  outline-style: solid;
  outline-width: 3px;
  outline-color: #cccccc;
  cursor: default;
}
a.rvdsfProductDisplayGalleryDisplay {
  /* Needed to force height otherwise zoom effect floats the child elements and tiles underneath is not aligned */
  display: inline-block;
}
.rvdsfProductDisplayGalleryThumbnail > img {
  max-width: 100%;
  margin: 5px;
}
.rvdsfProductDisplayAbstractContainer {
  float: left;
  min-height: 1px;
  min-width: 20%;
  text-align: center;
  width: 30%;
}
.rvdsfProductDisplayActions {
  padding-bottom: 20px;
  padding-top: 10px;
}
.rvdsfProductDisplayContainer .rvdFormColorPickerList li {
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  list-style-type: none;
  margin: 3px;
  vertical-align: middle;
  width: 16px;
}
.rvdsfProductDisplayContainer .rvdFormColorPickerList a {
  display: none;
}
.rvdsfProductDisplayContainer li.rvdsfFormColorPickerItemSelected {
  outline-style: solid;
  outline-width: 3px;
  outline-color: #cccccc;
  cursor: default;
}
.rvdsfProductDisplayContainer .rvdFormImageSwatchList li {
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  list-style-type: none;
  margin: 3px;
  vertical-align: middle;
  width: 32px;
}
.rvdsfProductDisplayContainer .rvdFormImageSwatchList a {
  display: none;
}
.rvdsfProductDisplayContainer li.rvdsfFormImageSwatchItemSelected {
  outline-style: solid;
  outline-width: 3px;
  outline-color: #cccccc;
  cursor: default;
}
.rvdsfProductDisplayDetailContainer {
  clear: both;
  padding-top: 20px;
}
.rvdsfProductDisplayGalleryDetailed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.rvdsfProductDisplayGalleryTileGroup {
  margin-bottom: 3px;
  margin-left: 5px;
  margin-top: 3px;
  text-align: center;
}
.rvdsfProductDisplayGalleryTileList {
  margin-bottom: 5px;
  margin-top: 5px;
}
.rvdsfProductDisplayGalleryTile {
  border: solid 1px #999999 !important;
  cursor: pointer;
  vertical-align: middle;
}
.rvdsfProductDisplayInfoContainer {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 60%;
  width: 60%;
}
.rvdsfProductDisplayInfoContainer .dnnFormItem {
  min-height: 0px;
  padding: 0px;
}
.rvdsfProductDisplayInfoContainer .dnnFormItem label,
.rvdsfProductDisplayInfoContainer .dnnFormItem .dnnFormLabel,
.rvdsfProductDisplayInfoContainer .dnnFormItem .dnnTooltip {
  min-width: 100px;
}
.rvdsfProductDisplayName {
  display: block;
}
.rvdsfProductDisplayRating {
  display: block;
  width: auto !important;
}
div.rvdsfProductDisplayProductComponentItem {
  margin-top: 20px;
  margin-bottom: 20px;
}
.rvdsfProductDisplayProductComponentItem span {
  font-size: 1.1em;
  font-weight: bold;
}
.rvdsfProductDisplayProductPartItem img {
  max-width: 40px;
  margin: 0 8px 0 8px;
}
.rvdsfProductDisplayProductPartList {
  font-size: 0.9em;
}
span.rvdsfProductPartPrice {
  margin-left: 10px;
  font-weight: bold;
}
.rvdsfProductDisplayProductPartItem .rvdQuantityInput {
  float: right;
}
.rvdsfProductDisplayRequiredProductContainer {
  margin-bottom: 10px;
  margin-top: 10px;
}
.rvdsfProductDisplayRequiredProductList {
  padding: 30px 0;
}
.rvdsfProductDisplayRequiredProductItem.dnnFormItem {
  font-weight: bold;
  padding: 5px 0;
}
.rvdsfProductDisplayBuyingGuide,
.rvdsfProductDisplayFAQ,
.rvdsfProductDisplayOverview,
.rvdsfProductDisplayReviews,
.rvdsfProductDisplaySpecifications,
.rvdsfProductDisplaySummary,
.rvdsfProductDisplayTerms {
  margin-bottom: 5px;
  margin-top: 5px;
}
.rvdsfProductDisplayProductAttributeList {
  margin-top: 10px;
}
.rvdsfProductDisplayProductAttributeList h4 {
  margin-bottom: 5px;
  margin-top: 5px;
}
.rvdsfProductDisplayProductAttributeList ul {
  overflow: hidden;
}
.rvdsfProductDisplayProductAttributeList li {
  list-style-type: none;
}
.rvdsfProductDisplayProductAttributeList .dnnFormItem {
  border-bottom: solid 1px #cccccc;
  padding-bottom: 20px;
}
.rvdsfProductDisplayRating.RadRating a,
.rvdsfProductDisplayRating.RadRating a span {
  background-image: url(Media/RatingEmptyStarIcon.gif);
  background-position: 0 0;
}
.rvdsfProductDisplayRating.RadRating .rrtOver a,
.rvdsfProductDisplayRating.RadRating .rrtOver a span {
  background-image: url(Media/RatingHoverStarIcon.gif);
  background-position: 0 0;
}
.rvdsfProductDisplayRating.RadRating .rrtSelected.rrtOver a span {
  background-image: url(Media/RatingHoverStarIcon.gif);
  background-position: 0 0;
}
.rvdsfProductDisplayRating.RadRating .rrtSelected a span {
  background-image: url(Media/RatingFilledStarIcon.gif);
  background-position: 0 0;
}
.rvdsfProductDisplayRating.RadRating .rrtHover a span {
  background-image: url(Media/RatingHoverStarIcon.gif);
  background-position: 0 0;
}
.rvdsfProductDisplaySummary {
  display: block;
}
/******************
ProductComparison
*******************/
.rvdsf-productcomparison-table th,
.rvdsf-productcomparison-table td {
  text-align: center;
}
.rvdsf-productcomparison-table th:first-child,
.rvdsf-productcomparison-table td:first-child {
  background-color: #efefef;
  font-weight: bold;
  text-align: left;
  width: 120px;
}
.rvdsf-productcomparison-table .rvdsf-product-gallery-container {
  border: #ddd 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}
.rvdsf-productcomparison-table .rvdsf-product-gallery-container img {
  max-height: 140px;
}
.rvdsf-productcomparison-container div.rvdsf-field-name {
  margin: 5px auto;
}
.rvdsf-productcomparison-container .rvdsf-field-name a {
  color: inherit;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.rvdsf-productcomparison-container .rvdsf-field-price {
  font-weight: bold;
}
.rvdsfProductComparisonGrid td > .dnnTooltip label,
.rvdsfProductComparisonGrid td > .dnnTooltip {
  font-weight: bold;
  text-align: right;
  min-width: 0px;
}
.rvdsfProductComparisonGrid table {
  width: 100%;
}
.rvdsfProductComparisonGrid .rgGroupHeader {
  font-weight: bold;
  font-size: 1.2em;
}
.rvdsfProductComparisonGrid .rgGroupHeader td {
  border-bottom: solid 1px #cccccc;
  padding: 8px 0 8px 0 !important;
}
.rvdsfProductComparisonGrid td > .dnnFormLabel {
  width: auto;
}
.rvdsfProductComparisonGrid .rgCollapse {
  background-image: url(../../Icons/Sigma/Min_12x12_Standard.png);
  background-position: 0 0;
  width: 12px;
  height: 16px;
  margin-top: 0px;
}
.rvdsfProductComparisonGrid .rgExpand {
  background-image: url(../../Icons/Sigma/Max_12x12_Standard.png);
  background-position: 0 0;
  width: 12px;
  height: 16px;
  margin-top: 0px;
}
/******************
ProductDetail
*******************/
.rvdsf-productdetail-container .btn-toolbar .btn {
  min-width: 140px;
  margin: 3px;
}
.rvdsf-productdetail-container .rvdsf-label-savings {
  font-size: 14px;
  height: 22px;
  min-width: 100px;
  position: static;
  float: right;
}
.rvdsf-productdetail-container .rvdsf-product-gallery-container {
  border: #ddd 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
}
.rvdsf-productdetail-container .rvdsf-product-gallery-container img {
  max-height: 220px;
}
.rvdsf-productdetail-container .rvdsf-product-gallery-container .zoomWrapperImage img {
  max-height: none;
}
.rvdsf-productdetail-container .rvdsf-product-gallery-tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5px 0 20px 0;
  width: 100%;
}
.rvdsf-productdetail-container img.rvdsf-product-gallery-tile {
  cursor: pointer;
  margin: 2px 2px;
  padding: 2px 2px;
  height: 48px;
  width: 48px;
  object-fit: cover;
}
.rvdsf-productdetail-container .rvdsf-field-compare {
  margin: 10px 0;
  text-align: center;
}
.rvdsf-productdetail-container .rvdsf-product-info-container div.rvdsf-field-name {
  margin: 5px auto;
}
.rvdsf-productdetail-container .rvdsf-product-info-container .rvdsf-label-name {
  font-size: 20px;
  font-weight: bold;
}
.rvdsf-productdetail-container .rvdsf-product-info-container .rvdsf-label-savings {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  min-width: 100px;
}
.rvdsf-productdetail-container .rvdsf-product-info-container div.rvdsf-field-price {
  margin: 5px auto 20px auto;
}
.rvdsf-productdetail-container .rvdsf-product-info-container .rvdsf-field-price {
  font-size: 18px;
  font-weight: bold;
}
.rvdsf-productdetail-container .rvdsf-product-form-container .rvdsf-label-componentname {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0;
}
.rvdsf-productdetail-container .rvdsf-product-form-container .rvdsf-field-part .rvdsf-field-gallery {
  border: #ddd 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.rvdsf-productdetail-container .rvdsf-product-form-container .rvdsf-field-part .rvdsf-label-name {
  font-size: 12px;
  font-weight: bold;
}
.rvdsf-productdetail-container .rvdsf-product-form-container .rvdsf-field-part .rvdsf-label-price {
  font-size: 12px;
  font-weight: bold;
}
.rvdsf-productdetail-container .rvdsf-product-form-container .rvdsf-field-qty input,
.rvdsf-productdetail-container .rvdsf-product-form-container .rvdsf-field-qty select {
  background-color: #eee;
  border: 0;
  padding: 8px;
  width: 60px;
}
.rvdsf-productdetail-container .rvdsf-product-info-container div.rvdsf-field-rating {
  margin: 5px auto;
}
.rvdsf-productdetail-container div.rvdsf-field-description-container {
  clear: both;
  padding: 40px 0;
}
.rvdsf-productdetail-container .rvdsf-field-description-container div.tab-content {
  margin: 20px 0;
}
.rvdsf-productdetail-table th,
.rvdsf-productdetail-table td {
  text-align: left;
}
.rvdsf-productdetail-table th:first-child,
.rvdsf-productdetail-table td:first-child {
  background-color: #efefef;
  font-weight: bold;
  text-align: left;
  width: 30%;
}
.rvdsf-productdetail-container .rvdsf-requiredproduct-container h6 {
  font-size: 16px;
}
.rvdsf-productdetail-container .rvdsf-requiredproduct-container .rvdsf-label-name {
  font-size: 14px;
}
.rvdsf-productdetail-container .rvdsf-requiredproduct-container .rvdsf-productvariant-name {
  font-size: 12px;
}
.rvdsf-product-review-item {
  margin: 40px 0;
  border-top: 1px solid #ddd;
  padding: 10px 0;
}
.rvdsf-product-review-item .rvdsf-field-comment {
  white-space: pre-wrap;
}
.rvdsf-product-review-item .rvdsf-field-date {
  color: #666;
  font-weight: bold;
}
.rvdsf-product-review-item .rvdsf-field-name {
  color: #999;
  font-style: italic;
  font-weight: bold;
}
.rvdsf-product-review-container .rvdsf-input-comment {
  height: 100px;
}
.rvdsf-product-review-container .rvdsf-input-captcha {
  width: 100%;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px 10px;
  margin-bottom: 5px;
}
.rvdsf-product-review-container .rvdsf-input-captcha img {
  display: inline-block;
  height: 40px;
  width: 180px;
}
.rvdsf-product-review-container .rvdsf-input-captcha button {
  display: inline-block;
  height: 40px;
}
.rvdsfProductDetailContainer .rvdsfProductDisplayName {
  font-size: 1.5em;
}
.rvdsfProductDetailContainer .rvdsfProductComparisonInput {
  display: inherit;
  margin-bottom: 10px;
  margin-top: 10px;
}
.rvdsfProductReviewItemAbstractContainer {
  border-top: solid 1px #cccccc;
  float: left;
  min-height: 100px;
  margin-right: 30px;
  padding: 3px 3px 10px 3px;
  width: 25%;
}
.rvdsfProductReviewItem {
  width: 100%;
}
.rvdsfProductReviewItemInfoContainer {
  border-top: solid 1px #cccccc;
  padding: 3px;
}
.rvdsfProductReviewList {
  overflow: hidden;
  margin-bottom: 5px;
  margin-top: 5px;
}
.rvdsfProductReviewGroup {
  clear: both;
}
.rvdsfProductReviewDate {
  display: block;
  margin-top: 10px;
}
.rvdsfProductReviewTitle {
  font-weight: bold;
}
.rvdsfProductReviewUser {
  font-style: italic;
}
/******************
ProductFilter
******************/
.rvdsf-productfilter-container .btn-toolbar {
  background-color: #eee;
  padding: 10px 10px;
  margin: 0 0 20px 0;
}
.rvdsf-productfilter-container div.rvdsf-field-definition {
  margin: 20px 20px;
}
.rvdsf-productfilter-container .rvdsf-field-definition label.control-label {
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  margin-bottom: 10px;
  width: 100%;
}
.rvdsf-productfilter-container .slider.slider-horizontal {
  margin: 30px 15px 10px 15px;
  width: 90%;
}
.rvdsfProductFilterActions {
  text-align: center;
}
.rvdsfProductFilterContainer .dnnForm {
  min-width: 0;
}
.rvdsfProductFilterContainer .dnnFormItem label,
.rvdsfProductFilterContainer .dnnFormItem .dnnFormLabel,
.rvdsfProductFilterContainer .dnnFormItem .dnnTooltip {
  float: none;
  text-align: left;
  width: 100px;
}
.rvdsfProductFilterList ul {
  overflow: hidden;
}
.rvdsfProductFilterList li {
  list-style-type: none;
}
.rvdsfProductFilterSliderInput {
  float: left;
  width: 80px;
}
/* DNN 7.1 causes the slider to take one extra line */
span.rvdsfProductFilterSliderInput {
  white-space: normal;
}
/******************
ProductList
******************/
.rvdsf-productlist-subcategories .list-group-item {
  border: 0;
}
.rvdsf-productlist-subcategories .rvdsf-field-name {
  margin-top: 5px;
  text-align: center;
}
.rvdsf-productlist-navbar {
  background-color: #eee;
  min-height: 52px;
  padding: 10px;
}
.rvdsf-productlist-navbar .btn-group.bootstrap-select {
  width: auto !important;
}
.rvdsf-productlist-navbar .bootstrap-select .btn-default,
.rvdsf-productlist-navbar .bootstrap-select .btn-default2:hover,
.rvdsf-productlist-navbar .bootstrap-select .btn-default:active,
.rvdsf-productlist-navbar .bootstrap-select .btn-default:visited,
.rvdsf-productlist-navbar .bootstrap-select .btn-default:focus {
  background-color: #eee;
  border-color: #eee;
  font-weight: bold;
}
.rvdsf-productlist-navbar .bootstrap-select .btn-default:hover {
  background-color: #fff;
  border-color: #fff;
}
.rvdsf-productlist-navbar .rvdsf-field-pageviewmode a {
  color: #888;
  font-size: 28px;
}
.rvdsf-productlist-container .rvdsf-field-pageviewmode a.active {
  color: #333;
}
.rvdsf-productlist-grid,
.rvdsf-productlist-list {
  padding: 20px;
}
/* Push newline after 3rd column */
.rvdsf-productlist-grid div.col-sm-4:nth-child(3n+1) {
  clear: left;
}
.rvdsf-productlist-grid .rvdsf-product-container {
  padding: 0 0 60px 0;
  text-align: center;
}
.rvdsf-productlist-grid div.rvdsf-product-info-container {
  min-height: 100px;
}
.rvdsf-productlist-container .rvdsf-product-gallery-container {
  border: #ddd 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}
.rvdsf-productlist-container .rvdsf-product-gallery-container img {
  max-height: 140px;
}
.rvdsf-productlist-list .rvdsf-product-container {
  border-bottom: 1px #ddd solid;
  padding: 20px 0;
}
.rvdsf-productlist-list .rvdsf-label-savings {
  left: 20px;
  right: inherit;
  top: 20px;
}
.rvdsf-productlist-list .rvdsf-product-gallery-container {
  display: inline-flex;
  margin-right: 10px;
  width: 160px;
}
.rvdsf-productlist-list .rvdsf-product-info-container {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}
.rvdsf-productlist-list .rvdsf-product-form-container {
  display: inline-block;
  max-width: 5%;
  vertical-align: top;
}
.rvdsf-productlist-list .rvdsf-product-form-container .rvdsf-field-qty label {
  display: none;
}
.rvdsf-productlist-list .btn-toolbar {
  float: right;
  width: 20%;
}
.rvdsf-productlist-container .btn-toolbar .btn {
  float: none;
  width: 100%;
  margin: 3px;
}
.rvdsf-productlist-container div.rvdsf-field-name {
  margin: 5px auto;
}
.rvdsf-productlist-container .rvdsf-field-name a {
  color: inherit;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.rvdsf-productlist-container div.rvdsf-field-price {
  margin: 5px auto;
}
.rvdsf-productlist-container .rvdsf-field-price {
  font-size: 14px;
  font-weight: bold;
}
.rvdsf-productlist-container .rvdsf-field-qty input,
.rvdsf-productlist-container .rvdsf-field-qty select {
  background-color: #eee;
  border: 0;
  padding: 8px;
  width: 60px;
}
.rvdsf-productlist-container div.rvdsf-field-rating {
  margin: 5px auto;
}
.rvdsf-productlist-pager {
  background-color: #eee;
  padding: 5px 5px;
  text-align: center;
}
.rvdsfProductListSubCategoryGroup {
  display: inline-block;
}
.rvdsfProductListSubCategoryList {
  text-align: center;
}
.rvdsfProductListSubCategoryItem {
  margin: 10px 10px 10px 10px;
}
.rvdsfProductListSubCategoryGalleryThumbnail > img {
  display: block;
  max-width: 100%;
  margin: 5px;
}
.rvdsfProductListToolbar {
  border-top: solid 1px #cccccc;
  margin-top: 10px;
  padding-top: 10px;
}
.rvdsfProductListToolbar .dnnFormItem,
.rvdsfProductListToolbar .dnnFormItem label,
.rvdsfProductListToolbar .dnnFormItem .dnnTooltip {
  display: inline-block;
  float: none;
  margin-right: 5px;
  white-space: nowrap;
  width: auto;
}
.rvdsfProductListToolbar .rvdsfPageViewModeInput select,
.rvdsfProductListToolbar .rvdsfPageViewDisplayOrderInput select,
.rvdsfProductListToolbar .rvdsfPageViewSizeInput select {
  width: auto;
}
.rvdsfProductListToolbar .dnnFormLabel,
.rvdsfProductListToolbar .dnnLabel {
  margin-right: 5px;
  padding-right: 0px;
  width: auto;
}
.rvdsfProductListProductList .rvdsfProductDisplayInfoContainer .dnnFormItem label,
.rvdsfProductListProductList .rvdsfProductDisplayInfoContainer .dnnFormItem .dnnFormLabel,
.rvdsfProductListProductList .rvdsfProductDisplayInfoContainer .dnnFormItem .dnnTooltip {
  min-width: 0;
}
.rvdsfProductListProductList .rvdsfProductComparisonInput {
  display: inherit;
  margin-bottom: 10px;
  margin-top: 10px;
}
.rvdsfProductListProductItem {
  display: inline-block;
  margin-top: 10px;
  vertical-align: top;
  width: 49%;
}
.rvdsfPageViewModeList .rvdsfProductListProductItem {
  width: 100%;
}
/******************
ProductSearch
******************/
.rvdsfProductSearchContainer {
  text-align: center;
}
.rvdsfProductSearchQueryTextBox {
  width: 40%;
}
/******************
ProductShowcase
******************/
.rvdsf-productshowcase-container .carousel .item {
  height: 460px;
}
.rvdsf-productshowcase-container a.carousel-control {
  background-image: none;
  width: 20px;
}
.rvdsf-productshowcase-container .carousel-control .glyphicon {
  color: black;
}
.rvdsf-productshowcase-container .rvdsf-product-container {
  text-align: center;
}
.rvdsf-productshowcase-container .rvdsf-product-gallery-container {
  border: #ddd 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}
.rvdsf-productshowcase-container .rvdsf-product-gallery-container img {
  max-height: 140px;
}
.rvdsf-productshowcase-container div.rvdsf-product-info-container {
  min-height: 100px;
}
.rvdsf-productshowcase-container .btn-toolbar .btn {
  width: 100%;
  margin: 3px;
}
.rvdsf-productshowcase-container div.rvdsf-field-name {
  margin: 5px auto;
}
.rvdsf-productshowcase-container .rvdsf-field-name a {
  color: inherit;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.rvdsf-productshowcase-container div.rvdsf-field-price {
  margin: 5px auto;
}
.rvdsf-productshowcase-container .rvdsf-field-price {
  font-size: 14px;
  font-weight: bold;
}
.rvdsf-productshowcase-container .rvdsf-field-qty input,
.rvdsf-productshowcase-container .rvdsf-field-qty select {
  background-color: #eee;
  border: 0;
  padding: 8px;
  width: 60px;
}
.rvdsf-productshowcase-container div.rvdsf-field-rating {
  margin: 5px auto;
}
/* BUG: RadRotator shows a dot between images. We need to hide the bullet list item point. */
.rvdsfProductShowcaseContainer .rrItem {
  list-style-type: none;
}
.rvdsfProductShowcaseRotator {
  margin: 0 auto;
}
.rvdsfProductShowcaseRotator div.rrClipRegion {
  border: solid 1px #cccccc;
}
.rvdsfProductShowcaseRotator .rrButton.rrButtonDown,
.rvdsfProductShowcaseRotator .rrButton.rrButtonDown:hover {
  background-image: url(../../Icons/Sigma/Dn_16x16_Standard.png);
  background-position: center bottom;
}
.rvdsfProductShowcaseRotator .rrButton.rrButtonLeft,
.rvdsfProductShowcaseRotator .rrButton.rrButtonLeft:hover {
  background-image: url(../../Icons/Sigma/Lt_16x16_Standard.png);
  background-position: left center;
}
.rvdsfProductShowcaseRotator .rrButton.rrButtonRight,
.rvdsfProductShowcaseRotator .rrButton.rrButtonRight:hover {
  background-image: url(../../Icons/Sigma/Rt_16x16_Standard.png);
  background-position: right center;
}
.rvdsfProductShowcaseRotator .rrButton.rrButtonUp,
.rvdsfProductShowcaseRotator .rrButton.rrButtonUp:hover {
  background-image: url(../../Icons/Sigma/Up_16x16_Standard.png);
  background-position: center top;
}
.rvdsfProductShowcaseRotator .rvdsfProductDisplayInfoContainer .dnnFormItem label,
.rvdsfProductShowcaseRotator .rvdsfProductDisplayInfoContainer .dnnFormItem .dnnFormLabel,
.rvdsfProductShowcaseRotator .rvdsfProductDisplayInfoContainer .dnnFormItem .dnnTooltip {
  min-width: 0;
}
.rvdsfProductShowcaseRotatorContainer .dnnLabel {
  padding-right: 0;
}
.rvdsfProductShowcaseRotator .rvdsfProductDisplayContainer {
  display: inline-block;
  margin: 10px 10px 10px 10px;
  min-width: 0;
}
.rvdsfProductShowcaseRotator .rvdsfProductDisplayAbstractContainer {
  float: none;
  width: 100%;
}
.rvdsfProductShowcaseRotator .rvdsfProductDisplayInfoContainer {
  text-align: center;
  width: 100%;
}
/*** Center rating ***/
.rvdsfProductShowcaseRotator .rvdsfProductDisplayRating {
  margin: 0 auto;
  text-align: center;
}
.rvdsfProductShowcaseRotator .RadRating li {
  float: none;
  display: inline-block;
}
.rvdsfProductShowcaseRotator .RadRating a,
.rvdsfProductShowcaseRotator .RadRating a span {
  line-height: inherit;
}
/*** End center rating ***/
.rvdsfProductShowcaseRotatorContainer {
  padding: 0 50px 0 50px;
}
.rvdsfProductShowcaseRotatorContainer .caroufredsel_wrapper {
  margin: 0 auto !important;
}
.rvdsfProductShowcaseRotatorContainer.rvdsfProductShowcaseRotatorScrollVertical {
  padding: 20px 0 20px 0;
}
ul.rvdsfProductShowcaseRotator > li {
  float: left;
  list-style: none outside none;
}
.rvdsfProductShowcasePagination.rvdPreviousAction {
  background-image: url(../../Icons/Sigma/Lt_16x16_Standard.png);
  background-position: left center;
  display: none;
  height: 16px;
  left: 10px;
  position: absolute;
  top: 50%;
  width: 16px;
}
.rvdsfProductShowcaseRotatorScrollVertical .rvdsfProductShowcasePagination.rvdPreviousAction {
  background-image: url(../../Icons/Sigma/Up_16x16_Standard.png);
  left: 50%;
  top: 30px;
}
.rvdsfProductShowcasePagination.rvdNextAction {
  background-image: url(../../Icons/Sigma/Rt_16x16_Standard.png);
  background-position: right center;
  display: none;
  height: 16px;
  position: absolute;
  right: 10px;
  top: 50%;
  width: 16px;
}
.rvdsfProductShowcaseRotatorScrollVertical .rvdsfProductShowcasePagination.rvdNextAction {
  background-image: url(../../Icons/Sigma/Dn_16x16_Standard.png);
  bottom: -14px;
  left: 50%;
  top: inherit;
}
.rvdsfProductShowcasePagination.rvdNumericAction {
  display: none;
  text-align: center;
}
.rvdsfProductShowcasePagination.rvdNumericAction a {
  margin: 0 3px;
  text-decoration: none;
}
.rvdsfProductShowcasePagination.rvdNumericAction a.selected {
  text-decoration: underline;
}
/******************
QuickOrder
******************/
.rvdsfQuickOrderContainer .rvdsfSalesOrderDetailGrid {
  border-collapse: inherit !important;
  width: 100%;
}
/******************
Related product
*******************/
.rvdsfRelatedProductContainer {
  margin-top: 20px;
}
.rvdsfRelatedProductContainer .rvdsfProductDisplayName {
  font-size: 1em;
}
.rvdsfRelatedProductList {
  margin: 10px 10px 10px 10px;
  text-align: center;
}
.rvdsfRelatedProductItemInfoContainer .dnnFormItem {
  min-height: 0;
  text-align: center;
}
/*** Center rating ***/
.rvdsfRelatedProductItemInfoContainer .rvdsfProductDisplayRating {
  margin: 0 auto;
  text-align: center;
}
.rvdsfRelatedProductItemInfoContainer .RadRating li {
  float: none;
  display: inline-block;
}
.rvdsfRelatedProductItemInfoContainer .RadRating a,
.rvdsfRelatedProductItemInfoContainer .RadRating a span {
  line-height: inherit;
}
/*** End center rating ***/
.rvdsfRelatedProductGroup {
  display: inline-block;
  vertical-align: top;
}
.rvdsfRelatedProductItem {
  margin: 10px 10px 10px 10px;
}
/******************
WishList
*******************/
.rvdsfWishListContributors {
  display: none;
  margin-bottom: 5px;
  margin-top: 5px;
}
.rvdsfWishListGrid {
  width: 100%;
}
.rvdsfWishListDetailGrid {
  width: 100%;
}
/******************
Welcome
******************/
.rvdsfWelcomeSteps {
  display: inline-block;
  margin: 0 0 10px;
}
.rvdsfWelcomeSteps .icon {
  font-size: 14px;
}
.rvdsfWelcomeSteps li {
  list-style: none;
  float: left;
}
.rvdsfWelcomeSteps li a {
  color: #FFF;
  display: block;
  background: #999999;
  font-size: 12px;
  text-decoration: none;
  position: relative;
  height: 32px;
  line-height: 30px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
.rvdsfWelcomeSteps li:nth-child(even) a {
  background-color: #999999;
}
.rvdsfWelcomeSteps li:nth-child(even) a:before {
  border-color: #999999;
  border-left-color: transparent;
}
.rvdsfWelcomeSteps li:nth-child(even) a:after {
  border-left-color: #999999;
}
.rvdsfWelcomeSteps li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
.rvdsfWelcomeSteps li:first-child a:before {
  border: none;
}
.rvdsfWelcomeSteps li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
  background-color: #666666;
  background-color: black;
}
.rvdsfWelcomeSteps li:last-child a:before {
  border-color: black;
  border-left-color: transparent;
}
.rvdsfWelcomeSteps li:last-child a:after {
  border: none;
}
.rvdsfWelcomeSteps li a:before,
.rvdsfWelcomeSteps li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #999999;
  border-width: 16px 11px;
  width: 0;
  height: 0;
}
.rvdsfWelcomeSteps li a:before {
  left: -20px;
  border-left-color: transparent;
}
.rvdsfWelcomeSteps li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #999999;
}
.rvdsfWelcomeSteps li a:hover {
  background-color: YellowGreen;
}
.rvdsfWelcomeSteps li a:hover:before {
  border-color: YellowGreen;
  border-left-color: transparent;
}
.rvdsfWelcomeSteps li a:hover:after {
  border-left-color: YellowGreen;
}
.rvdsfWelcomeSteps li a:active {
  background-color: DarkGreen;
}
.rvdsfWelcomeSteps li a:active:before {
  border-color: DarkGreen;
  border-left-color: transparent;
}
.rvdsfWelcomeSteps li a:active:after {
  border-left-color: DarkGreen;
}
/******************
Deprecated
These CSS classes will remain available for a period of time
before being permanently removed on a major releases (x.0.0).
*******************/
.rvdsfGridViewDataRow:hover {
  background-color: #FFFF66;
}
/*****************
Responsive
******************/
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .dnnLabel {
    width: 20%;
  }
  .rvdSplit2 > div.dnnFormGroup,
  .rvdSplit3 > div.dnnFormGroup,
  .rvdSplit4 > div.dnnFormGroup,
  .rvdSplit2 > div.dnnFormItem,
  .rvdSplit3 > div.dnnFormItem,
  .rvdSplit4 > div.dnnFormItem {
    display: block;
    width: 100%;
  }
  .rvdsfCheckoutPageViewModeSingle .rvdsfCheckoutBillingAndShippingContainer,
  .rvdsfCheckoutPageViewModeSingle .rvdsfCheckoutPaymentContainer {
    float: none;
    width: auto;
  }
  .rvdsfCheckoutPageViewModeSingle .rvdsfCheckoutReviewOrderContainer {
    float: none;
    margin-bottom: inherit !important;
    position: inherit;
    top: inherit !important;
    width: auto;
  }
  .rvdsfCheckoutPageViewModeSingle .rvdsfCheckoutReviewOrderContainer img {
    width: auto;
  }
  .rvdsfCartGalleryThumbnail > img {
    display: none;
  }
  .rvdsf-checkout-breadcrumb a,
  .rvdsf-checkout-breadcrumb a[disabled],
  .rvdsfCheckoutBreadcrumb a,
  .rvdsfCheckoutBreadcrumb a[disabled] {
    display: block;
    margin-bottom: 5px;
  }
  .rvdsf-checkout-breadcrumb-separator,
  .rvdsfCheckoutBreadcrumbSeparator {
    display: none;
  }
  .rvdsfConfirmationBillingInformationContainer {
    float: none;
  }
  .rvdsfConfirmationOrderInformationContainer {
    float: none;
  }
  .rvdsfConfirmationPaymentInformationContainer {
    float: none;
  }
  .rvdsfConfirmationShippingInformationContainer {
    float: none;
  }
  .rvdsfCrosssellProductProductList {
    width: auto;
  }
  .rvdsfDashboardLeftAsideContainer {
    float: none;
    padding-right: inherit;
    width: 100%;
  }
  .rvdsfDashboardRightAsideContainer {
    float: none;
    padding-left: inherit;
    width: 100%;
  }
  .rvdsf-productdetail-container .btn-toolbar .btn {
    width: 100%;
  }
  .rvdsfProductDisplayAbstractContainer {
    float: none;
    min-width: 0;
    width: auto;
  }
  .rvdsfProductDisplayInfoContainer {
    float: none;
    min-width: 0;
    width: auto;
  }
  .rvdsfProductListToolbar .rvdsfPageViewModeInput {
    display: none;
  }
  .rvdsfProductListProductList {
    text-align: center;
  }
  .rvdsfProductListProductList .rvdsfProductComparisonInput {
    display: none;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .rvdsfProductListProductItem {
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
    width: auto;
  }
  .rvdsfProductShowcaseRotator {
    width: 95% !important;
  }
  /* Hide date, origin column, fraud score */
  .rvdsfSalesOrderSalesOrderGrid th:nth-child(4),
  .rvdsfSalesOrderSalesOrderGrid td:nth-child(4),
  .rvdsfSalesOrderSalesOrderGrid th:nth-child(5),
  .rvdsfSalesOrderSalesOrderGrid td:nth-child(5),
  .rvdsfSalesOrderSalesOrderGrid th:nth-child(9),
  .rvdsfSalesOrderSalesOrderGrid td:nth-child(9) {
    display: none;
  }
  /* Hide ID, image, status, shipping status */
  .rvdsfContentContainer .rvdsfSalesOrderDetailGrid th:nth-child(3),
  .rvdsfContentContainer .rvdsfSalesOrderDetailGrid td:nth-child(3),
  .rvdsfContentContainer .rvdsfSalesOrderDetailGrid th:nth-child(4),
  .rvdsfContentContainer .rvdsfSalesOrderDetailGrid td:nth-child(4),
  .rvdsfContentContainer .rvdsfSalesOrderDetailGrid th:nth-child(7),
  .rvdsfContentContainer .rvdsfSalesOrderDetailGrid td:nth-child(7),
  .rvdsfContentContainer .rvdsfSalesOrderDetailGrid th:nth-child(8),
  .rvdsfContentContainer .rvdsfSalesOrderDetailGrid td:nth-child(8) {
    display: none;
  }
  .rvdsfSearchContainer div.dnnFormItem {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: auto;
  }
}
