﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TaxClassDropDownListControl.ascx.cs" Inherits="Revindex.Dnn.RevindexStorefront.TaxClassDropDownListControl" %>
<asp:DropDownList ID="TaxClassDropDownList" runat="server" OnSelectedIndexChanged="TaxClassDropDownList_SelectedIndexChanged">
</asp:DropDownList>
