﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UserAddressDropDownListControl.ascx.cs" Inherits="Revindex.Dnn.RevindexStorefront.UserAddressDropDownListControl" %>
<asp:DropDownList ID="UserAddressDropDownList" runat="server" OnSelectedIndexChanged="UserAddressDropDownList_SelectedIndexChanged">
</asp:DropDownList>
