﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UserPaymentDropDownListControl.ascx.cs" Inherits="Revindex.Dnn.RevindexStorefront.UserPaymentDropDownListControl" %>
<asp:DropDownList ID="UserPaymentDropDownList" runat="server" OnSelectedIndexChanged="UserPaymentDropDownList_SelectedIndexChanged">
</asp:DropDownList>
