<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ViewRevindexStorefrontCart.ascx.cs" Inherits="Revindex.Dnn.RevindexStorefront.ViewRevindexStorefrontCart" %>
<asp:PlaceHolder ID="DynamicControlPlaceHolder" runat="server">
</asp:PlaceHolder>




