<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ViewRevindexStorefrontManufacturer.ascx.cs" Inherits="Revindex.Dnn.RevindexStorefront.ViewRevindexStorefrontManufacturer" %>
<asp:PlaceHolder ID="DynamicControlPlaceHolder" runat="server">
</asp:PlaceHolder>


