<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ViewRevindexStorefrontCartSummary.ascx.cs" Inherits="Revindex.Dnn.RevindexStorefront.ViewRevindexStorefrontCartSummary" %>
<asp:PlaceHolder ID="DynamicControlPlaceHolder" runat="server">
</asp:PlaceHolder>