<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ViewRevindexStorefrontProductShowcase.ascx.cs" Inherits="Revindex.Dnn.RevindexStorefront.ViewRevindexStorefrontProductShowcase" %>
<asp:PlaceHolder ID="DynamicControlPlaceHolder" runat="server">
</asp:PlaceHolder>
