<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ViewRevindexStorefrontCheckout.ascx.cs" Inherits="Revindex.Dnn.RevindexStorefront.ViewRevindexStorefrontCheckout" %>
<asp:PlaceHolder ID="DynamicControlPlaceHolder" runat="server">
</asp:PlaceHolder>
