<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ViewRevindexStorefrontProductComparison.ascx.cs" Inherits="Revindex.Dnn.RevindexStorefront.ViewRevindexStorefrontProductComparison" %>
<asp:PlaceHolder ID="DynamicControlPlaceHolder" runat="server">
</asp:PlaceHolder>
