<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ViewRevindexStorefrontCategory.ascx.cs" Inherits="Revindex.Dnn.RevindexStorefront.ViewRevindexStorefrontCategory" %>
<asp:PlaceHolder ID="DynamicControlPlaceHolder" runat="server">
</asp:PlaceHolder>


