<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ViewRevindexStorefrontWishList.ascx.cs" Inherits="Revindex.Dnn.RevindexStorefront.ViewRevindexStorefrontWishList" %>
<asp:PlaceHolder ID="DynamicControlPlaceHolder" runat="server">
</asp:PlaceHolder>