<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ViewRevindexStorefrontProductFilter.ascx.cs" Inherits="Revindex.Dnn.RevindexStorefront.ViewRevindexStorefrontProductFilter" %>
<asp:PlaceHolder ID="DynamicControlPlaceHolder" runat="server">
</asp:PlaceHolder>
