<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ViewRevindexStorefrontQuickOrder.ascx.cs" Inherits="Revindex.Dnn.RevindexStorefront.ViewRevindexStorefrontQuickOrder" %>
<asp:PlaceHolder ID="DynamicControlPlaceHolder" runat="server">
</asp:PlaceHolder>