<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ViewRevindexStorefrontProductSearch.ascx.cs" Inherits="Revindex.Dnn.RevindexStorefront.ViewRevindexStorefrontProductSearch" %>
<asp:PlaceHolder ID="DynamicControlPlaceHolder" runat="server"></asp:PlaceHolder>
