<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ViewRevindexStorefrontProductDetail.ascx.cs" Inherits="Revindex.Dnn.RevindexStorefront.ViewRevindexStorefrontProductDetail" %>
<asp:PlaceHolder ID="DynamicControlPlaceHolder" runat="server">
</asp:PlaceHolder>