<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ViewRevindexStorefrontDistributor.ascx.cs" Inherits="Revindex.Dnn.RevindexStorefront.ViewRevindexStorefrontDistributor" %>
<asp:PlaceHolder ID="DynamicControlPlaceHolder" runat="server">
</asp:PlaceHolder>


