<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ViewRevindexStorefrontConfirmation.ascx.cs" Inherits="Revindex.Dnn.RevindexStorefront.ViewRevindexStorefrontConfirmation" %>
<asp:PlaceHolder ID="DynamicControlPlaceHolder" runat="server">
</asp:PlaceHolder>
