/* bottom center */
.wowslider-container.noir .ws_bullets
{
    top: 0;
    right: 0;
}

.wowslider-container.noir
{
    zoom: 1;
    position: relative;
    margin: 0 auto;
    z-index: 100;
}
.wowslider-container.noir .ws_shadow
{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -30px;
    z-index: -1;
}
.wowslider-container.noir .ws_images
{
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}
.wowslider-container.noir .ws_images a
{
    color: transparent;
}

.wowslider-container.noir .ws_images img
{
    top: 0;
    left: 0;
    border: none 0;
}
.wowslider-container.noir a
{
    text-decoration: none;
    outline: none;
    border: none;
}
.wowslider-container.noir .ws_bullets
{
    font-size: 0px;
    padding: 10px;
    float: left;
    position: absolute;
    z-index: 70;
}
.wowslider-container.noir .ws_bullets div
{
    position: relative;
    float: left;
}
.wowslider-container.noir .ws_bullets a
{
    margin-left: 4px;
    width: 8px;
    height: 15px;
    background: url(./bullet.png) left 50% no-repeat;
    float: left;
    text-indent: -1000px;
    position: relative;
}
.wowslider-container.noir .ws_bullets a.ws_selbull, .wowslider-container.noir .ws_bullets a:hover
{
    background-position: right 50%;
}
.wowslider-container.noir a.ws_next, .wowslider-container.noir a.ws_prev
{
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -28px;
    z-index: 60;
    height: 62px;
    width: 38px;
    background-image: url(./arrows.gif);
}
.wowslider-container.noir a.ws_next
{
    background-position: 100% 0;
    right: -8px;
}
.wowslider-container.noir a.ws_prev
{
    left: -8px;
    background-position: 0 0;
}
.wowslider-container.noir a.ws_next:hover
{
    background-position: 100% 100%;
}
.wowslider-container.noir a.ws_prev:hover
{
    background-position: 0 100%;
}
* html .wowslider-container.noir a.ws_next, * html .wowslider-container.noir a.ws_prev
{
    display: block;
}
.wowslider-container.noir :hover a.ws_next, .wowslider-container.noir :hover a.ws_prev
{
    display: block;
}
.wowslider-container.noir .ws-title
{
    position: absolute;
    bottom: 50px;
    left: 0;
    margin-right: 5px;
    z-index: 50;
    padding: 12px;
    color: #F9FBFB;
    text-transform: uppercase;
    background: #000000;
    font-family: Helvetica,Arial,Verdana,sans-serif;
    font-size: 18px;
}
.wowslider-container.noir .ws-title div
{
    padding-top: 5px;
    font-size: 13px;
    text-transform: none;
}
.wowslider-container.noir .ws_bullets a img
{
    text-indent: 0;
    display: block;
    top: 16px;
    left: -120px;
    visibility: hidden;
    position: absolute;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border: 5px solid #FFFFFF;
}
.wowslider-container.noir .ws_bullets a:hover img
{
    visibility: visible;
}
.wowslider-container.noir .ws_bulframe div div
{
    overflow: visible;
    position: relative;
}
.wowslider-container.noir .ws_bulframe div
{
    left: 0;
    overflow: hidden;
    position: relative;
}
.wowslider-container.noir .ws_bullets .ws_bulframe
{
    display: none;
    top: 20px;
    overflow: visible;
    position: absolute;
    cursor: pointer;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border: 5px solid #FFFFFF;
}
.wowslider-container.noir .ws_bulframe span
{
    display: block;
    position: absolute;
    top: -11px;
    margin-left: -9px;
    background: url(./triangle.png);
    width: 15px;
    height: 6px;
}