﻿<%-- FULL LIST OF AVAILABLE ICONS --%>
<div class="follow_us2">
    <%If (GetSetting("FooterSocialIcon1") <> "") Then%>
    <a href="<%=GetSetting("FooterSocialIconLink1")%>" class="zocial <%=GetSetting("FooterSocialIcon1")%>"></a>
    <%End If%>
    <%If (GetSetting("FooterSocialIcon2") <> "") Then%>
    <a href="<%=GetSetting("FooterSocialIconLink2")%>" class="zocial <%=GetSetting("FooterSocialIcon2")%>"></a>
    <%End If%>
    <%If (GetSetting("FooterSocialIcon3") <> "") Then%>
    <a href='<%=GetSetting("FooterSocialIconLink3")%>' class='zocial <%=GetSetting("FooterSocialIcon3")%>'></a>
    <%End If%>
    <%If (GetSetting("FooterSocialIcon4") <> "") Then%>
	<a href='<%=GetSetting("FooterSocialIconLink4")%>' class='zocial <%=GetSetting("FooterSocialIcon4")%>'></a>
    <%End If%>
    <%If (GetSetting("FooterSocialIcon5") <> "") Then%>
	<a href='<%=GetSetting("FooterSocialIconLink5")%>' class='zocial <%=GetSetting("FooterSocialIcon5")%>'></a>
    <%End If%>
    <%If (GetSetting("FooterSocialIcon6") <> "") Then%>
	<a href='<%=GetSetting("FooterSocialIconLink6")%>' class='zocial <%=GetSetting("FooterSocialIcon6")%>'></a>
    <%End If%>
    <%If (GetSetting("FooterSocialIcon7") <> "") Then%>
	<a href='<%=GetSetting("FooterSocialIconLink7")%>' class='zocial <%=GetSetting("FooterSocialIcon7")%>'></a>
    <%End If%>
    <%If (GetSetting("FooterSocialIcon8") <> "") Then%>
    <a href="<%=GetSetting("FooterSocialIconLink8")%>" class="zocial <%=GetSetting("FooterSocialIcon8")%>"></a>
    <%End If%>
    <%If (GetSetting("FooterSocialIcon9") <> "") Then%>
	<a href='<%=GetSetting("FooterSocialIconLink9")%>' class='zocial <%=GetSetting("FooterSocialIcon9")%>'></a>
    <%End If%>

</div>