/* bottom center */
.wowslider-container.pulse .ws_bullets
{
    top: 5px;
    right: 0px;
}
/* Image container style */
.wowslider-container.pulse
{
    position: relative;
    margin: 0 auto;
    z-index: 100;
}
.wowslider-container.pulse .ws_images
{
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}
.wowslider-container.pulse .ws_images img
{
    top: 0;
    left: 0;
    border: 0 none;
}
/* Navigation arrows for preview mode */
.wowslider-container.pulse a.ws_next, .wowslider-container.pulse a.ws_prev
{
    outline: none;
    position: absolute;
    display: block;
    top: 50%;
    width: 56px;
    height: 56px;
    margin: -28px 0 0 0;
    z-index: 60;
    cursor: pointer;
    opacity: 0.6;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
.wowslider-container.pulse a.ws_next
{
    right: 5px;
    background: #000 url(./next_photo.png) no-repeat 50% 50%;
}
.wowslider-container.pulse a.ws_prev
{
    left: 5px;
    background: #000 url(./prev_photo.png) no-repeat 50% 50%;
}
* html .wowslider-container.pulse a.ws_next, * html .wowslider-container.pulse a.ws_prev
{
    display: block;
}
.wowslider-container.pulse :hover a.ws_next, .wowslider-container.pulse :hover a.ws_prev
{
    display: block;
}
.wowslider-container.pulse a.ws_next:hover, .wowslider-container.pulse a.ws_prev:hover
{
    opacity: 0.8;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
/* bullets */
.wowslider-container.pulse .ws_bullets
{
    position: absolute;
    z-index: 70;
}
.wowslider-container.pulse .ws_bullets a
{
    position: relative;
    background: url("bullet.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    display: block;
    float: left;
    cursor: pointer;
    height: 10px;
    margin-right: 4px;
    text-indent: -9999px;
    width: 10px;
    z-index: 100;
    outline: none;
}
.wowslider-container.pulse a.ws_selbull, .wowslider-container.pulse a.ws_overbull, .wowslider-container.pulse .ws_bullets a:hover
{
    background-position: 100% 0;
}
.wowslider-container.pulse .ws-title
{
    position: absolute;
    display: block;
    bottom: 5px;
    left: 5px;
    margin-right: 25px;
    padding: 10px;
    background-color: black;
    color: white;
    z-index: 50;
    opacity: 0.5;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-family: Tahoma,Arial,Helvetica;
    font-size: 14px;
    height: 17px;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.wowslider-container.pulse .ws-title div
{
    padding-top: 5px;
    font-size: 12px;
}
.wowslider-container.pulse .ws_bullets a img
{
    text-indent: 0;
    display: block;
    top: 10px;
    left: -120px;
    visibility: hidden;
    position: absolute;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border: 5px solid #FFFFFF;
}
.wowslider-container.pulse .ws_bullets a:hover img
{
    visibility: visible;
}
.wowslider-container.pulse .ws_bulframe div div
{
    overflow: visible;
    position: relative;
}
.wowslider-container.pulse .ws_bulframe div
{
    left: 0;
    overflow: hidden;
    position: relative;
}
.wowslider-container.pulse .ws_bullets .ws_bulframe
{
    display: none;
    top: 15px;
    overflow: visible;
    position: absolute;
    cursor: pointer;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border: 5px solid #FFFFFF;
}
.wowslider-container.pulse .ws_bulframe span
{
    display: block;
    position: absolute;
    top: -11px;
    margin-left: -8px;
    background: url(./triangle.png);
    width: 15px;
    height: 6px;
}