/**** OVERLAPPING HEADER VERSION ****/
.header 
{
  background-image: url('../../img/pat/pat1.png'), -moz-linear-gradient(bottom,rgba(35,44,58,0.75) 0px,rgba(35,44,58,0.8) 10px,rgba(35,44,58,0.86) 20px,rgba(35,44,58,0.9) 30px,rgba(35,44,58,0.94) 40px,rgba(35,44,58,0.98) 50px,rgba(35,44,58,0.99) 60px,#232c3a 70px);
  background-image: url('../../img/pat/pat1.png'), -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,#ffffff));
  background-image: url('../../img/pat/pat1.png'), -webkit-linear-gradient(bottom,rgba(35,44,58,0.75) 0px,rgba(35,44,58,0.8) 10px,rgba(35,44,58,0.86) 20px,rgba(35,44,58,0.9) 30px,rgba(35,44,58,0.94) 40px,rgba(35,44,58,0.98) 50px,rgba(35,44,58,0.99) 60px,#232c3a 70px);
  background-image: url('../../img/pat/pat1.png'), -o-linear-gradient(bottom,rgba(35,44,58,0.75) 0px,rgba(35,44,58,0.8) 10px,rgba(35,44,58,0.86) 20px,rgba(35,44,58,0.9) 30px,rgba(35,44,58,0.94) 40px,rgba(35,44,58,0.98) 50px,rgba(35,44,58,0.99) 60px,#232c3a 70px);
  background-image: url('../../img/pat/pat1.png'), -ms-linear-gradient(bottom,rgba(35,44,58,0.75) 0px,rgba(35,44,58,0.8) 10px,rgba(35,44,58,0.86) 20px,rgba(35,44,58,0.9) 30px,rgba(35,44,58,0.94) 40px,rgba(35,44,58,0.98) 50px,rgba(35,44,58,0.99) 60px,#232c3a 70px);
  background-image: url('../../img/pat/pat1.png'), linear-gradient(to top,rgba(35,44,58,0.75) 0px,rgba(35,44,58,0.8) 10px,rgba(35,44,58,0.86) 20px,rgba(35,44,58,0.9) 30px,rgba(35,44,58,0.94) 40px,rgba(35,44,58,0.98) 50px,rgba(35,44,58,0.99) 60px,#232c3a 70px);
  background-color: transparent;
  background-repeat: repeat;
  background-position: center top;
  border-bottom: none;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(5,38,57,0.05);
  box-shadow: 0px 1px 0px 0px rgba(5,38,57,0.05);
}

#intro 
{
    background: none;
    background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.75) 0px, rgba(255, 255, 255, 0.8) 5px, rgba(255, 255, 255, 0.86) 10px, rgba(255, 255, 255, 0.9) 20px, rgba(255, 255, 255, 0.94) 30px, rgba(255, 255, 255, 0.98) 50px, rgba(255, 255, 255, 0.99) 60px, #FFFFFF 70px);
    background-position: center top;
    background-repeat: repeat;
    background-size: auto auto;
    box-shadow: 0 -1px 0 0 rgba(5, 38, 57, 0.05);
    border-bottom: 1px solid #dedede;
    margin-top: -65px;
    
}
.wsc_generic_skin {position: relative;}

.header 
{
  position: absolute;
  top: 0px;
  z-index: 10;
}

#banner, #intro {position: relative; z-index: 1;}

#banner 
{
    padding-top: 20px;
}

.wsc_header_centered #banner {padding-top: 70px;}