/**** TRANSPARENT HEADER VERSION ****/
.wsc_generic_skin {position: relative;}

#header 
{
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#8C0B1016,endColorstr=#8C0B1016)"; /* IE8 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8C0B1016,endColorstr=#8C0B1016);   /* IE6 & 7 */
  background: none repeat scroll center center rgba(11, 16, 22, 0.55) !important;
  position: absolute !important;
  top: 0px;
  z-index: 10;
}

.header.wsc-banner-empty 
{
    /*background-color: #e9e6e1; header with empty banner fix*/
    position: relative !important;
}
@media (min-width: 980px) {
    .wsc_onepage #header:not(.wscTopFull), .wsc_onepage #header:not(.wscTopFull) .header_inner {position: absolute;}
}
/*Top pane + header styles*/
.wsc_onepage #header.wscTopFull {position: relative; margin-top: -88px;}
.wsc_onepage.header_centered #header.wscTopFull,.wsc_onepage.menu_bottom #header.wscTopFull {margin-top: -152px;}
.wsc_onepage.menu_bottom.menu_tabbed #header.wscTopFull {margin-top: -142px;}
@media (max-width: 979px) {
    .wsc_onepage #header.wscTopFull nav.main_menu {position: absolute; padding-right: 30px; left: 0; background: rgba(11, 16, 22, 0.55) none repeat scroll center center; border-top: none;}
}
/*End Top pane + header styles*/
.wsc_generic_skin #header.sticky_header .header_inner 
{
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#8C0B1016,endColorstr=#8C0B1016)"; /* IE8 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8C0B1016,endColorstr=#8C0B1016);   /* IE6 & 7 */
  background: none repeat scroll center center rgba(11, 16, 22, 0.55);
}
.wsc_generic_skin #header.sticky_header{background: transparent;}

#banner, #intro {position: relative; z-index: 1;}

#banner 
{
    padding-top: 0px;
}

.wsc_header_centered #banner {padding-top: 0px;}

/* top bar text color */
#top-bar,  #top-bar a, #top-bar .registerGroup a, #top-bar .loginGroup a, .wsc_search_wrap .wsc_search_trigger 
{
    color: #ddd;
}

/* menu links color */
.menu_wrap .nav li a 
{
    color: #ddd;
}

/* make submenu background transparent*/
.menu_wrap .nav ul 
{
    background: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A50B1016,endColorstr=#A50B1016)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#A50B1016,endColorstr=#A50B1016);   /* IE6 & 7 */

    background-color: rgba(11, 16, 22, 0.65);
}

.menu_wrap .nav li.wsc_mega ul ul {background-color: transparent;}

/* Mobile menu */

.navbar-toggle {
  background: none repeat scroll 0 0 rgba(37, 37, 37, 0.2);
}

@media (max-width: 979px) {
  .menu_wrap .nav ul {
    background: transparent;
  }
}