/**** TRANSPARENT HEADER VERSION ****/
.wsc_generic_skin {position: relative;}
#header
{
    position: absolute !important;
  background: none repeat-x scroll 0 0 rgba(0, 0, 0, 0) !important;
  top: 0px;
  z-index: 10;
  min-height: 110px;
}

.wsc_generic_skin #header.sticky_header{background: transparent;}

.header.wsc-banner-empty 
{
    position: relative !important;
}

#banner, #intro {position: relative; z-index: 1;}

#banner 
{
    padding-top: 0px;
}

.wsc_header_centered #banner {padding-top: 0px;}

/* top bar */
#top-bar {background-color: transparent;}

/* Menu */
.menu_wrap .nav ul 
{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    left: -30px;
    top: 55px;
}

/* Menu minimal */
.menu_minimal .menu_wrap .nav > li 
{
    min-width: 63px;
}

.menu_minimal .menu_wrap .nav > li > a
{
    font-size: 16px;
    text-transform: capitalize;
    margin: 0 3px;
    padding: 6px 10px;
    letter-spacing: normal;
    font-weight: 300;
}

/* Mobile menu */
.navbar-toggle {
  background: none repeat scroll 0 0 rgba(37, 37, 37, 0.2);
}

@media (max-width: 979px) {

}