/*
 * metro - Mobile Touch Slider CSS
 * http://www.idangero.us/sliders/metro
 *
 * Vladimir Kharlampidi, The iDangero.us
 * http://www.idangero.us/
 * 
 * Copyright 2012-2013, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us
 *
 * Licensed under GPL & MIT
 *
*/

/* ===============================================================
Basic metro Styles + Custom styles
================================================================*/
.metro-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
	background-color: #fff;
	margin-top: -1px;
	border-bottom: 1px solid rgb(218, 222, 225);
	border-bottom: 1px solid rgba(218, 222, 225, 0.85);
	margin-bottom: -1px;
}

.metro-wrapper 
{
    height: 0px;
	overflow: hidden;

	-webkit-transition:	height 1400ms ease;
	-moz-transition:	height 400ms ease;
	-ms-transition:		height 400ms ease;
	-o-transition:		height 400ms ease;
	transition:			height 1400ms ease;
	opacity: 0;


	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
}

.metro-free-mode > .metro-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}

/* IE10 Windows Phone 8 Fixes */
.metro-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.metro-wp8-vertical {
	-ms-touch-action: pan-x;
}

.metro-slide {
	overflow: hidden;
	float: left;
	width: 100%;
	height: 100%;
	position: relative;

}
.metro-wrapper .metro-slide {
	-webkit-backface-visibility: hidden;
}

.metro-container img,
.metro-slide img {
	float: left;
	width: 100%;
	height: auto;
}

.metro-nested .metro-slide > img
{
    top:-50%;
    position:relative;
}

.metro-nested {
  width: 100%;
}

/* Caption and Description
----------------------------------------------------------------------------- */
.metro-caption {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
	padding: 20px;
	width: 100%;
	height: 100%;

	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;
	-ms-box-sizing:		border-box;
	-o-box-sizing:		border-box;
	box-sizing:			border-box;
}

	.metro-caption h4 {
		overflow: hidden;
	}
	

.metro-caption, .metro-caption h4,.metro-caption h4 a, 
.metro-caption a, .metro-caption a:visited, .metro-caption a:link, .metro-caption a:hover
{
    color:#fff;
}

.metro-caption a:hover 
{
    text-decoration:underline;
}


.metro-caption-below:before
{
    clear:both;
    height:0;
    visibility:hidden;
    content:" ";
    display:block;
}
.metro-slide.descr_below 
{
}
.metro-slide.descr_below > img
{
    float:none;
}
.metro-slide .metro-caption-below
{
}
@media (max-width: 739px) 
{
    .metro-caption, .metro-slide .link.show-content
    {
        display:none;
    }
}
/* link in content */
	.metro-link {
		padding: 0 0 0px 2px;
		background-position: 0 0;
		background-repeat: no-repeat;
		line-height: 40px;
	}
	.metro-caption .icon-link {
	    font-size: 12px;
	    line-height: 40px;
	}
    
/* link to show content */

.metro-slide .link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(250, 250, 250);
	background: transparent;
	background-color: rgba(0, 0, 0, 0.05);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0C000000,endColorstr=#0C000000)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0C000000,endColorstr=#0C000000);   /* IE6 & 7 */
      zoom: 1;
	cursor: pointer;
}

.no-touch .link.act, .link.act i,.metro-slide .link,.no-touch .metro-slide > .link {
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
	opacity: 0;
	-webkit-transition:	opacity 400ms ease;
	-moz-transition:	opacity 400ms ease;
	-ms-transition:		opacity 400ms ease;
	-o-transition:		opacity 400ms ease;
	transition:			opacity 400ms ease;
	
}

.metro-slide .link i.icon-plus, .metro-slide .link i.fa-plus
{
    position: absolute; 
	top: 8px;
	right: 8px;
	display:block;
	left:auto;
	z-index:100;
	color:#fff;
	font-size:14px;
}
.metro-slide .link i.corner:before 	
{
	position: absolute; 
	top: 0px;
	right: 0px;
	width: 0px;
	height: 0px;
	border-top: 45px solid transparent;
	border-left: 45px solid transparent;
	display:block;
	z-index:1;
	content:" ";
}
	
.metro-slide .link i.corner:after 
{
	position: absolute;
	width: 14px;
	height: 14px;
	top: 6px;
	right: 6px;
	z-index: 99;
	display:block;

}

.no-touch .metro-slide:hover > .link, .metro-slide:hover > .link {
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
}


/* link to close content */
.metro-slide .close-link 
{
    position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	width: 26px;
	height: 30px;
	right: 0px;
	top: 0px;
	cursor: pointer;
	display: block;
}

.metro-slide .close-link .icon-remove, .metro-slide .close-link .fa-times
{
    color:#fff;
    font-size:25px;
}


/* Arrows
----------------------------------------------------------------------------- */

.arrow-left,
.arrow-right {
	position: absolute;
	z-index: 300;
	top:45%;
	top: calc(50% - 20px);
	left: 0px;
	margin-top: 0px;
	width: 50px;
	height: 40px;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0.8;
	filter: alpha(opacity=80);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; 
}
.arrow-right {
	left: auto;
	right: 0px;
	padding-right: 5px;
}

.arrow-left {
	padding-left: 5px;
}
.arrow-left.icon-chevron-left, .arrow-right.icon-chevron-right, .arrow-left.fa-chevron-left, .arrow-right.fa-chevron-right
{
    color:rgb(200,200,200);
    color:rgba(200,200,200,0.8);
    font-size:45px;
}

.arrow-left:hover,
.arrow-right:hover{
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
}
.metro-container .disable,
.metro-container .disable:hover {
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
}

@media (max-width: 480px) 
{
    .arrow-right, .arrow-left
    {
        display:none!important;
    }
}
/* Loading
----------------------------------------------------------------------------- */
.loading-label {
	overflow: hidden;
	padding: 0px;
	width: 100%;
	height: 100%;
	min-height:100px;
	background-image: none;
	font-size: 0;
	line-height: 0;
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 2000;
}

.loading-label i {
	overflow: hidden;
	padding: 5px;
	width: 60px;
	height: 60px;
	background-image: none;
	font-size: 60px;
	line-height: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	z-index: 2100;
}

.metro-container + .loading-label .metro-spinner
{
    display:block;
    position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	background:url(../img/metro-spinner.gif) center center no-repeat;
	padding: 5px;
	width: 60px;
	height: 60px;
}

.metro-caption {
      zoom: 1;
}


/* Pane specific styles
----------------------------------------------------------------------------- */
.OutroPane .metro-container 
{
    margin-bottom: -40px;
}