﻿/* ======================================================= */
/*                     Reset Styles                        */
/* ======================================================= */

.wsc_admin_content *
{
    text-shadow: none;
    font-family: Verdana, Sans-Serif;
    color: #555555;
}

.clear_float
{
    clear: both;
}

/* ======================================================= */
/*                BackEnd Admin Styles                     */
/* ======================================================= */

/* Common Styles
---------------------------------------------------------- */

.wsc_admin_content p, .wsc_admin_content .Normal, .wsc_admin_content .NormalDisabled, .wsc_admin_content blockquote, .wsc_admin_content pre, .wsc_admin_content .SubHead, .wsc_admin_content .SkinObject, .wsc_admin_content .NormalTextBox, .wsc_admin_content a, .wsc_admin_content a:link, .wsc_admin_content a:visited
{
    font-family: Verdana, Sans-Serif;
    font-size: 12px;
    color: #676767;
}

.wsc_admin_content a, .wsc_admin_content a:link, .wsc_admin_content a:visited
{
    color: #00ADEE;
    text-decoration: underline;
}

.wsc_admin_content a:hover, .wsc_admin_content a:active
{
    text-decoration: none;
}

.wsc_admin_content .NormalTextBox
{
    background: none repeat scroll 0 0 #FEFEFE;
    border: 1px solid #BBBBBB;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    font-family: "Lucida Grande" ,Verdana,sans-serif;
    font-size: 14px;
    outline: medium none;
    padding: 5px;
    vertical-align: middle;
}

.wsc_admin_content .NormalTextBox:focus
{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 0 3px #36A0FF;
    border: 1px solid #3080C8;
}

.wsc_admin_content iframe {
    overflow: visible;
}
/* Backgrounds */
.wsc_admin_content .wsc_admin_box_head, .wsc_admin_content .wsc_slide_head, .wsc_admin_content .wsc_info, .wsc_admin_content .wsc_info_head
{
    background-image: url("images/noise.png");
    background-repeat: repeat;
}


.wsc_admin_content .wsc_slide_body, .wsc_admin_content .wsc_info_body
{
    background-image: url("images/pattern.png");
    background-repeat: repeat;
}

/* Pretty Styles */
.wsc_admin_content .wsc_slide_head .wsc_slide_title, .wsc_admin_content .wsc_slide_head .wsc_slide_title span, .wsc_admin_content .wsc_slide_head .wsc_controls_box, .wsc_admin_content .wsc_slide_head .wsc_controls_box a, .wsc_admin_content .wsc_info_title, .wsc_admin_content .wsc_info, .wsc_admin_content .wsc_info_head
{
    text-shadow: 1px 1px 0 #FFFFFF;
}


/* Admin Buttons
---------------------------------------------------------- */
.wsc_admin_content a.wsc_admin_button, .wsc_admin_content a.wsc_admin_button span
{
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.wsc_admin_content a.wsc_admin_button
{
    text-decoration: none;
    white-space: nowrap;
    line-height: 1em;
    position: relative;
    outline: none;
    overflow: visible; /* removes extra side padding in IE */
    cursor: pointer;
    border: 1px solid #999; /* IE */
    border: rgba(0, 0, 0, .2) 1px solid; /* Saf4+, Chrome, FF3.6 */
    border-bottom: rgba(0, 0, 0, .4) 1px solid;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    background: -moz-linear-gradient( 		center top, 		rgba(255, 255, 255, .1) 0%, 		rgba(0, 0, 0, .1) 100% 	); /* FF3.6 */
    background: -webkit-gradient( 		linear, 		center bottom, 		center top, 		from(rgba(0, 0, 0, .1)), 		to(rgba(255, 255, 255, .1)) 	); /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.wsc_admin_content a.wsc_admin_button::-moz-focus-inner
{
    border: none; /* overrides extra padding in Firefox */
}

.wsc_admin_content a.wsc_admin_button:hover
{
    text-decoration: none;
    background: -moz-linear-gradient( 		center top, 		rgba(255, 255, 255, .2) 0%, 		rgba(255, 255, 255, .1) 100% 	); /* FF3.6 */
    background: -webkit-gradient( 		linear, 		center bottom, 		center top, 		from(rgba(255, 255, 255, .1)), 		to(rgba(255, 255, 255, .2)) 	); /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')"; /* IE8 */
}

.wsc_admin_content a.wsc_admin_button:active
{
    background: -moz-linear-gradient( 		center top, 		rgba(0, 0, 0, .1) 0%, 		rgba(255, 255, 255, .1) 100% 	); /* FF3.6 */
    background: -webkit-gradient( 		linear, 		center bottom, 		center top, 		from(rgba(255, 255, 255, .1)), 		to(rgba(0, 0, 0, .1)) 	); /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#19000000', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19000000', EndColorStr='#19FFFFFF')"; /* IE8 */
}

.wsc_admin_content a.wsc_admin_button span
{
    position: relative;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    border-top: rgba(255, 255, 255, .2) 1px solid;
    padding: 0.5em 1.3em 0.6em;
    line-height: 1em;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
}

.wsc_admin_content a.wsc_admin_button, .wsc_admin_content a.wsc_admin_button:hover, .wsc_admin_content a.wsc_admin_button:active
{
    background-color: #00ADEE;
}

/* Button Sizes */
.wsc_admin_content a.wsc_admin_button.wsc_small
{
    font-size: 11px;
}

/*.wsc_admin_content a.wsc_admin_button.wsc_small span
{
    padding: 0.5em 0.7em 0.7em;
}*/

.wsc_admin_content a.wsc_admin_button.wsc_medium
{
    font-size: 14px;
}

/* Button Colors */
.wsc_admin_content a.wsc_admin_button.wsc_gray, .wsc_admin_content a.wsc_admin_button.wsc_gray:hover, .wsc_admin_content a.wsc_admin_button.wsc_gray:active
{
    background-color: #888;
}

.wsc_admin_content a.wsc_admin_button.wsc_red, .wsc_admin_content a.wsc_admin_button.wsc_red:hover, .wsc_admin_content a.wsc_admin_button.wsc_red:active
{
    background-color: #E62727;
}

.wsc_admin_content a.wsc_admin_button.wsc_green, .wsc_admin_content a.wsc_admin_button.wsc_green:hover, .wsc_admin_content a.wsc_admin_button.wsc_green:active
{
    background-color: #91BD09;
}

/* Button Icons */
.wsc_admin_content a.wsc_admin_button .wsc_door_icon, .wsc_admin_content a.wsc_admin_button .wsc_plus_icon
{
    background-position: 0.4em center;
    background-repeat: no-repeat;
    padding-left: 26px;
}

.wsc_admin_content a.wsc_admin_button .wsc_door_icon
{
    background-image: url(images/door_icon.png);
}

.wsc_admin_content a.wsc_admin_button .wsc_plus_icon
{
    background-image: url(images/plus_icon.png);
}

/* Admin Boxes
---------------------------------------------------------- */
.wsc_admin_content .wsc_admin_box
{
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 25px;
    clear: both;
    background-color: #FFFFFF;
}

.wsc_admin_content .wsc_admin_box_head, .wsc_admin_content .wsc_admin_box_body
{
    padding: 0px 5px;
}

.wsc_admin_content .wsc_admin_box_head
{
    background-color: #eee;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid #ccc;
}

.wsc_admin_content .wsc_admin_box_head .wsc_admin_title
{
    color: #555555;
    font-family: Arial,sans-serif;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 0 8px;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-transform: uppercase;
}

.wsc_admin_content .wsc_admin_box_head .wsc_admin_title span
{
    color: #00ADEE;
}

/* Admin Boxes Collapsible
---------------------------------------------------------- */
.wsc_admin_content .wsc_collapsible .wsc_admin_box_head
{
    cursor: pointer;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-image: url(images/toggle_buttons.png);
}

.wsc_admin_content .wsc_collapsed_by_default .wsc_admin_box_body
{
    display: none;
}

.wsc_admin_content .wsc_admin_box_head.wsc_collapsed
{
    border-bottom: none;
    border-radius: 5px;
    background-position: -30px 6px;
}

.wsc_admin_content .wsc_admin_box_head.wsc_expanded
{
    background-image: url(images/toggle_buttons.png);
    background-position: 0 -24px;
}


/* Informative Boxes
---------------------------------------------------------- */
/* error */
.wsc_admin_content .wsc_error
{
    background: url(images/icon_system_error.png) no-repeat scroll 5px 50% #FFECCE;
    border: 1px solid #E9C59B;
    border-radius: 3px 3px 3px 3px;
    margin: 5px 0;
    outline: medium none;
    padding: 6px 5px 7px 28px;
    vertical-align: middle;
    display: block;
}

/* info */
.wsc_admin_content .wsc_info
{
    background: url(images/icon_info.png) no-repeat scroll 5px 40% #ECF9FF;
    outline: medium none;
    padding: 6px 5px 6px 28px;
    vertical-align: middle;
    color: #00ADEE;
    border: 1px solid #BBDBE0;
    border-radius: 3px;
    margin: 5px 0px;
    display: block;
}

/* info box */
.wsc_admin_content .wsc_info_box
{
    border: 1px solid #BBDBE0;
    border-radius: 3px;
    margin: 5px 0px;
}

.wsc_admin_content .wsc_info_head
{
    background-color: #ECF9FF;
    border-bottom: 1px solid #BBDBE0;
    outline: medium none;
    vertical-align: middle;
    border-radius: 3px 3px 0px 0px;
    display: block;
}

.wsc_admin_content .wsc_info_title
{
    background: url(images/icon_info.png) no-repeat scroll 5px 40% transparent;
    padding: 6px 5px 6px 28px;
    color: #00ADEE;
    display: block;
}

.wsc_admin_content .wsc_info_body
{
    padding: 5px;
}


.wsc_help_message
{
    font-size: 11px;
    font-weight: normal;
    font-style: italic;
    color: #808080;
    clear: left;
    display: block;
}
.wsc_setting_field
{
    padding-left: 2px;
    font-weight: bold;
    text-decoration: none;
}

.hideWrap
{
    text-align: left;
    clear: both;
}
.hideBtn
{
    display: block;
    background: transparent url('images/help.gif') no-repeat left center;
    font: bold 11px/15px Verdana,sans-serif;
    cursor: pointer;
    outline: none;
    padding: 1px 14px 2px;
}
.wsc_admin_fields a.hideBtn
{
    color: #555555;
    text-decoration: none;
}
.hideBtn.show
{
    background-image: url('images/help.gif');
}
.hideCont
{
    display: none;
}


/* Slide Box
---------------------------------------------------------- */
.wsc_admin_content .wsc_slide_box
{
    border: 1px solid #BBDBE0;
    border-radius: 3px;
    margin: 15px 0;
    background-color: white;
    cursor: move;
}

.wsc_admin_content .wsc_slide_head
{
    background-color: #ECF9FF;
    border-bottom: 1px solid #BBDBE0;
    outline: medium none;
    padding: 6px;
    vertical-align: middle;
    color: #00ADEE;
    border-radius: 3px 3px 0px 0px;
    overflow: hidden;
}

.wsc_admin_content .wsc_slide_title, .wsc_admin_content .wsc_slide_title span
{
    color: #00ADEE;
    float: left;
}

.wsc_admin_content .wsc_slide_title span
{
    font-weight: bold;
}

.wsc_admin_content .wsc_slide_body
{
    padding: 6px;
}

.wsc_admin_content .wsc_slide_body .text_slide_info h4
{
    color: red;
    margin-left: 15px;
    margin-top: 0;
}

/* Controls holder
---------------------------------------------------------- */
.wsc_admin_content .wsc_controls_box
{
    float: right;
}

.wsc_admin_content .wsc_controls_box a
{
    padding: 1px 5px 1px 15px;
}

.wsc_admin_content a.wsc_up_icon
{
    background: url("images/up_w_icon.png") no-repeat scroll 0 center transparent;
}

.wsc_admin_content a.wsc_down_icon
{
    background: url("images/down_w_icon.png") no-repeat scroll 0 center transparent;
}

.wsc_admin_content a.wsc_drag_icon
{
    background: url("images/drag_icon.png") no-repeat scroll 0 center transparent;
    padding-left: 18px;
    cursor: move;
}

.wsc_admin_content a.wsc_delete_icon
{
    background: url("images/delete_w_icon.png") no-repeat scroll 0 center transparent;
    padding-left: 18px;
}

.wsc_admin_content a.wsc_copy_icon
{
    background: url("images/plus_icon.png") no-repeat scroll 0 center transparent;
    padding-left: 18px;
}

.wsc_admin_content a.wsc_edit_icon
{
    background: url("images/edit_w_icon.png") no-repeat scroll 0 center transparent;
    padding-left: 18px;
}

/* Group of Controls
---------------------------------------------------------- */
.wsc_admin_content .wsc_controls_group
{
    margin: 10px 0;
}

.wsc_admin_content .wsc_label
{
    margin: 2px 0;
}

.wsc_controls textarea
{
    margin-top: 0px;
}

.wsc_controls_group .spinner.wsc_small 
{
    height: 35px;
    vertical-align: middle;
    display: inline-block;
} 

.wsc_controls_group .spinner.wsc_small img
{
    width: 16px;
    height: 16px;
} 

.wsc_admin_content .wsc_text_field
{
    width: 217px;
}

.wsc_controls
{
    margin-bottom: 5px;
}

/* FieldSets
---------------------------------------------------------- */
.wsc_admin_fields *
{
    text-shadow: none;
    overflow: hidden;
}

.wsc_admin_fields
{
    padding: 5px 5px 0;
    margin: 0px;
}

.wsc_admin_fields li, .wsc_admin_fields .wsc_fields_group
{
    display: block;
    list-style: none outside none;
    margin: 0 0 10px;
}

.wsc_admin_fields .wsc_label
{
    font-size: 12px;
    margin: 0;
    padding: 0px 0px 0px 0;
}

.wsc_admin_fields label, .wsc_admin_fields span
{
}

.wsc_admin_fields .wsc_tooltip_label
{
    color: #BFBFBF;
    font-size: 10px;
}

.wsc_admin_fields .wsc_textbox
{
    color: #282828;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    margin: 4px 0 0;
    width: 70%;
    display: block;
}


/* Image holder
---------------------------------------------------------- */
.wsc_admin_content .wsc_image_wrapper
{
    border: 1px dashed #BBDBE0;
    border-radius: 3px 3px 3px 3px;
    float: left;
    padding: 2px;
}


/* Image Chooser
---------------------------------------------------------- */
.wsc_file_chooser img
{
    display: block;
    margin: 5px 0 0;
    border: 1px dashed #BBDBE0;
    border-radius: 3px 3px 3px 3px;
    padding: 2px;
}


/* ThemeManagement Preview Wrapper
---------------------------------------------------------- */
.wsc_preview_wrapper
{
    padding: 20px 0px;
    margin: 20px 0px;
    border-top: 1px dashed #555;
}