﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="BackControl.ascx.cs" Inherits="Revindex.Web.UI.WebUserControls.Dnn.BackControl" %>
<asp:HyperLink ID="BackHyperLink" runat="server" CssClass="rvdBackAction dnnSecondaryAction" Text="Back"></asp:HyperLink>