﻿<%-- PAGE TITLE BACKGROUND IMAGE --%>
<style type="text/css">
    #pagetitle {background-image: url('<%= TemplateSourceDirectory %>/StyleSwitcher/<%=GetSetting("CustomPageTitleBackground")%>?v=<%=GetSetting("timestamp")%>');}   
</style>