/* bottom center */
.wowslider-container.flux .ws_bullets
{
    top: 8px;
    right: 5px;
}
.wowslider-container.flux
{
    zoom: 1;
    position: relative;
    margin: 0 auto;
    z-index: 100;
}
* html .wowslider-container.flux
{
    background-image: none;
}
.wowslider-container.flux .ws_images
{
    position: relative;
    overflow: hidden;
}
.wowslider-container.flux .ws_images a
{
    color: transparent;
}
.wowslider-container.flux .ws_images img
{
    top: 0;
    left: 0;
    border: none 0;
}
.wowslider-container.flux a
{
    text-decoration: none;
    outline: none;
    border: none;
}
.wowslider-container.flux .ws_bullets
{
    font-size: 0px;
    padding: 0px;
    float: left;
    position: absolute;
    z-index: 70;
}
.wowslider-container.flux .ws_bullets div
{
    position: relative;
    float: left;
}
.wowslider-container.flux .ws_bullets a
{
    margin: 0 2px;
    width: 21px;
    height: 21px;
    background: url(./bullet.png);
    float: left;
    text-indent: -1000px;
    position: relative;
}
* html .wowslider-container.flux .ws_bullets a
{
    background: url(./bullet.gif);
}
.wowslider-container.flux .ws_bullets a.ws_selbull
{
    background: url(./bullet_active.png);
}
.wowslider-container.flux .ws_bullets a:hover
{
    background: url(./bullet_active.png);
}
* html .wowslider-container.flux .ws_bullets a:hover
{
    background: url(./bullet_active.gif);
}
* html .wowslider-container.flux .ws_bullets a.ws_selbull
{
    background: url(./bullet_active.gif);
}
.wowslider-container.flux a.ws_next, .wowslider-container.flux a.ws_prev
{
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -22px;
    z-index: 60;
    height: 45px;
    width: 45px;
    background-image: url(./arrows.png);
}
* html .wowslider-container.flux a.ws_next, * html .wowslider-container.flux a.ws_prev
{
    background-image: url(./arrows.gif);
}
.wowslider-container.flux a.ws_next
{
    background-position: 100% 0;
    right: 10px;
}
.wowslider-container.flux a.ws_prev
{
    left: 10px;
    background-position: 0 0;
}
* html .wowslider-container.flux a.ws_next, * html .wowslider-container.flux a.ws_prev
{
    display: block;
}
.wowslider-container.flux :hover a.ws_next, .wowslider-container.flux :hover a.ws_prev
{
    display: block;
}
.wowslider-container.flux .ws-title
{
    position: absolute;
    bottom: 25px;
    left: 0px;
    margin-right: 30px;
    z-index: 50;
    padding: 10px;
    color: #000000;
    background: #FFF;
    font-family: Tahoma,Arial,Helvetica;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 18px;
    text-align: left;
    text-shadow: 0 0 2px #FFFFFF;
    -moz-border-radius: 0 8px 8px 0;
    -webkit-border-radius: 0 8px 8px 0;
    border-radius: 0 8px 8px 0;
    font-size: 14px;
    opacity: 0.8;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
.wowslider-container.flux .ws-title div
{
    padding-top: 5px;
    font-size: 12px;
}
.wowslider-container.flux .ws_bullets a img
{
    text-indent: 0;
    display: block;
    top: 20px;
    left: -120px;
    visibility: hidden;
    position: absolute;
    -moz-box-shadow: 0 0 18px #FFF;
    box-shadow: 0 0 18px #FFF;
    border: 3px solid #FFFFFF;
}
.wowslider-container.flux .ws_bullets a:hover img
{
    visibility: visible;
}
.wowslider-container.flux .ws_bulframe div div
{
    overflow: visible;
    position: relative;
}
.wowslider-container.flux .ws_bulframe div
{
    left: 0;
    overflow: hidden;
    position: relative;
}
.wowslider-container.flux .ws_bullets .ws_bulframe
{
    display: none;
    top: 25px;
    overflow: visible;
    position: absolute;
    cursor: pointer;
    -moz-box-shadow: 0 0 18px #FFF;
    box-shadow: 0 0 18px #FFF;
    border: 3px solid #FFFFFF;
}
.wowslider-container.flux .ws_bulframe span
{
    display: block;
    position: absolute;
    top: -9px;
    margin-left: 0px;
    background: url(./triangle.png);
    width: 15px;
    height: 6px;
}