﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ViewBanner.ascx.cs"
    Inherits="WebSitesCreative.Modules.Banner.ViewBanner" %>
<asp:PlaceHolder ID="phBanner" runat="server">
</asp:PlaceHolder>
