/* admin form styles */
.wsc_admin_content 
{
    padding: 15px;
    margin: 0px;
    background-color: white;
    font-family: Verdana, Sans-Serif;
}

.wsc_admin_content td 
{
    padding: 0px;
    margin: 0px;
}

.wsc_admin_content p,
.wsc_admin_content .Normal, 
.wsc_admin_content .NormalDisabled, 
.wsc_admin_content blockquote, 
.wsc_admin_content pre, 
.wsc_admin_content .SubHead, 
.wsc_admin_content .SkinObject, 
.wsc_admin_content .NormalTextBox,
.wsc_admin_content a, 
.wsc_admin_content a:link, 
.wsc_admin_content a:visited {
    font-family: Verdana, Sans-Serif;
    font-size: 12px;
}

.wsc_admin_content a, 
.wsc_admin_content a:link, 
.wsc_admin_content a:visited
{
    color: #00ADEE;
    text-decoration: underline;
}

.wsc_admin_content a:hover,
.wsc_admin_content a:active 
{
    text-decoration: none;    
}

.wsc_admin_content .NormalTextBox {
    background: none repeat scroll 0 0 #FEFEFE;
    border: 1px solid #BBBBBB;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    font-family: "Lucida Grande",Verdana,sans-serif;
    font-size: 14px;
    outline: medium none;
    padding: 5px;
    vertical-align: middle;
}

.wsc_admin_content .NormalTextBox:focus 
{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 0 3px #36A0FF;
    border: 1px solid #3080C8;
}

.wsc_admin_content input[type="radio"] 
{
    margin-top: 0px;
}
    
.wsc_admin_content a.vtip 
{
    text-decoration: none;
}

/* group of controls */
.wsc_admin_content .wsc_controls_group 
{
    margin: 10px 0;
}

.wsc_admin_content .wsc_label {
    margin: 2px 0;
}

/* error */
.wsc_admin_content .wsc_error
{
    background: url(images/icon_system_error.png) no-repeat scroll 5px 50% #FFECCE;
    border: 1px solid #E9C59B;
    border-radius: 3px 3px 3px 3px;
    margin: 5px 0;
    outline: medium none;
    padding: 6px 5px 7px 28px;
    vertical-align: middle;
}

/* info */
.wsc_admin_content .wsc_info
{
    background: url(images/icon_info.png) no-repeat scroll 5px 50% #ECF9FF;
    outline: medium none;
    padding: 6px 5px 6px 28px;
    vertical-align: middle;
    color: #00ADEE;
    border: 1px solid #BBDBE0;
    border-radius: 3px;
    margin: 5px 0px;
}

/* info box */
.wsc_admin_content .wsc_info_box 
{
    border: 1px solid #BBDBE0;
    border-radius: 3px;
    margin: 5px 0px;
}

.wsc_admin_content .wsc_info_head 
{
    background: url(images/icon_info.png) no-repeat scroll 5px 50% #ECF9FF;
    border-bottom: 1px solid #BBDBE0; 
    outline: medium none;
    padding: 6px 5px 6px 28px;
    vertical-align: middle;
    color: #00ADEE;
    border-radius: 3px 3px 3px 3px;
}

.wsc_admin_content .wsc_info_title 
{
    text-shadow: 1px 1px 0 #FFFFFF;
}

.wsc_admin_content .wsc_info_body
{
    padding: 5px;
}


/* admin box */
.wsc_admin_content .wsc_admin_box
{
    border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom:25px;
	clear:both;
}

.wsc_admin_content .wsc_admin_box_head,
.wsc_admin_content .wsc_admin_box_body
{
    padding: 0px 5px;
}

.wsc_admin_content .wsc_admin_box_head
{
    background-color: #eee;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid #ccc;
}

.wsc_admin_content .wsc_admin_box_head .wsc_admin_title 
{
    color: #555555;
    font-family: Arial,sans-serif;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 0 8px;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-transform: uppercase;
}

.wsc_admin_content .wsc_admin_box_head .wsc_admin_title span
{
    color: #00ADEE;
}


/* admin buttons*/
.wsc_admin_content a.wsc_admin_button,
.wsc_admin_content a.wsc_admin_button span {
	display: inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.wsc_admin_content a.wsc_admin_button
{
	text-decoration: none;
	white-space: nowrap;
	line-height:1em;
	position:relative;
	outline: none;
	overflow: visible; /* removes extra side padding in IE */
	cursor: pointer;
	border: 1px solid #999;/* IE */
	border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
	border-bottom:rgba(0, 0, 0, .4) 1px solid;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .1) 0%,
		rgba(0, 0, 0, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(0, 0, 0, .1)),
		to(rgba(255, 255, 255, .1))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
	-moz-user-select: none;
	-webkit-user-select:none;
	-khtml-user-select: none;
	user-select: none;
}
  
.wsc_admin_content a.wsc_admin_button::-moz-focus-inner {
    border: none; /* overrides extra padding in Firefox */
}

.wsc_admin_content a.wsc_admin_button:hover {
	text-decoration: none;  
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .2) 0%,
		rgba(255, 255, 255, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(255, 255, 255, .1)),
		to(rgba(255, 255, 255, .2))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')"; /* IE8 */
}

.wsc_admin_content a.wsc_admin_button:active {
	background: -moz-linear-gradient(
		center top,
		rgba(0, 0, 0, .1) 0%,
		rgba(255, 255, 255, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(255, 255, 255, .1)),
		to(rgba(0, 0, 0, .1))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19000000', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19000000', EndColorStr='#19FFFFFF')"; /* IE8 */
}
  
.wsc_admin_content a.wsc_admin_button span {
	position: relative;
	color:#fff;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
	border-top: rgba(255, 255, 255, .2) 1px solid;
	padding:0.5em 1.3em 0.6em;
	line-height:1em;
	text-decoration:none;
	text-align:center;
	white-space: nowrap;
}

.wsc_admin_content a.wsc_admin_button,
.wsc_admin_content a.wsc_admin_button:hover,
.wsc_admin_content a.wsc_admin_button:active  {
	background-color: #00ADEE;
}

.wsc_admin_content a.wsc_admin_button.wsc_small 
{
    font-size: 11px;
}

.wsc_admin_content a.wsc_admin_button.wsc_small span
{
    padding: 0.5em 0.7em 0.9em;
}

.wsc_admin_content a.wsc_admin_button.wsc_medium
{
    font-size: 14px;
}

