/*@import url("datepicker/date_input.css");*/

.collapsibleContainer
{
}

.collapsibleContainerContent
{
    padding: 10px;
}

.collapsibleContainer
{
    border: solid 1px #9BB5C1;

}

.collapsibleContainerTitle
{
    cursor:pointer;
    background-color:#9BB5C1;
    padding:5px;
}

.collapsibleContainerTitle span
{
    background-image: url('collapsiblepanel/rt-arrow.png');
    background-repeat:no-repeat;
    padding-left:20px;
    margin:0px;
}
.collapsibleContainer .expanded span
{
    background-image: url('collapsiblepanel/down-arrow.png');
}


.collapsibleContainerContent
{
    padding: 10px;
}

/* admin form styles */

.wsc_admin_fields *
{
    text-shadow: none;
}

.wsc_admin_fields 
{
    padding: 5px 10px;
    margin: 0px;
}

.wsc_admin_fields li
{
    display: block;
    list-style: none outside none;
    margin: 0 0 10px;
}

.wsc_admin_fields .wsc_label
{
    color: #282828;
    /*cursor: pointer;*/
    font-size: 12px;
    margin: 0;
    padding: 0px 0px 0px 0;
}
.wsc_admin_fields label,
.wsc_admin_fields span {
    color: #282828;
}

.wsc_admin_fields .wsc_tooltip_label
{
    color: #BFBFBF;
    font-size: 10px;
}

.wsc_admin_fields .wsc_textbox
{
    color: #282828;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    margin: 4px 0 0;    
    width: 70%;
    display: block;
}

/* uploader */
.wsc_admin_fields div.uploader 
{
    margin-left: -2px;
    margin-top: 3px;

}

.wsc_admin_fields .wsc_fileuploader 
{

}
.wsc_admin_fields li.wsc_uploader
{
  
}

.wsc_admin_fields .wsc_uploader img
{
    display: block;
    margin: 5px 0px;
}

.wsc_admin_fields .wsc_uploader span.wsc_label 
{

}

.wsc_admin_fields .wsc_inpost 
{

}

.wsc_admin_fields .wsc_pi_date
{
	width:280px;
	float:left;
}

.wsc_admin_fields .wsc_pi_time
{
	width:300px;
	overflow:hidden;	
}


/*SMART STYLES*/

/* admin box */
.wsc_admin_content .wsc_admin_box
{
    border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom:25px;
	clear:both;
    background-color: #FFFFFF;
}

.wsc_admin_content .wsc_admin_box_head,
.wsc_admin_content .wsc_admin_box_body
{
    padding: 0px 5px;
}

.wsc_admin_content .wsc_admin_box_head
{
    background-color: #eee;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid #ccc;
}

.wsc_admin_content .wsc_admin_box_head .wsc_admin_title 
{
    color: #555555;
    font-family: Arial,sans-serif;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 0 8px;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-transform: uppercase;
}

.wsc_admin_content .wsc_admin_box_head .wsc_admin_title span
{
    color: #00ADEE;
}

/* admin box collapsible */
.wsc_admin_content .wsc_collapsible .wsc_admin_box_head 
{
    cursor: pointer;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-image: url(images/toggle_buttons.png);
}

.wsc_admin_content .wsc_collapsed_by_default .wsc_admin_box_body 
{
    display: none;
}

.wsc_admin_content .wsc_admin_box_head.wsc_collapsed
{
    border-bottom: none;
    border-radius: 5px;
    background-position: -30px 6px;

}

.wsc_admin_content .wsc_admin_box_head.wsc_expanded
{
    background-image: url(images/toggle_buttons.png);
    background-position: 0 -24px;
}


/* group of controls */
.wsc_admin_content .wsc_controls_group 
{
    margin: 10px 0;
}

.wsc_admin_content .wsc_label {
    margin: 2px 0;
}

.wsc_controls textarea 
{
    margin-top: 0px;
}
.wsc_controls 
{
    margin-bottom: 10px;
}
